[2019-04-29 11:11] melloware commented on #693
I think you have the wrong tracker?  I think you want PrimeFaces: https://github.com/primefaces/primefaces/issues

This is PrimeFaces Extensions issue tracker.

[2019-04-30 05:44] TalmeezFaizy commented on #693
OKy i will close point here then... thanks :)

[2019-04-30 05:44] #693 closed

[2019-05-01 10:02] jepsar commented on #534
I just remembered this component: https://www.primefaces.org/showcase/ui/menu/stack.xhtml

Isn't that (almost) exactly what is requested?

[2019-05-01 13:04] melloware commented on #534
I agree its almost identical i think the Floating Action Button that most people want is the one that is styled like he Google Standards for a Floating Action Button like you posted in your CodePen.  Maybe that Stack component can be mofified to be styled using Font Icons and look like your CodePen.

[2019-05-01 16:09] ybendek commented on #534
Well, kind of...but not the same behaviour recommended by Google Material Design...but you are right, the idea implemented will be pretty similar, a collection of menuitems.

One thing it could be a little tricky is the usage of attributes like rendered, for example if you have 3 items and the second is rendered=false, the others should rendered properly filling the empty space.

[2019-05-03 06:13] lodhipr opened #694 "Issue with time picker"
### As with your basic project of time picker link is :
**https://www.primefaces.org/showcase-ext/sections/timePicker/basicUsage.jsf**

### i am facing an issue, you have used <pe:timepicker> tas it generates an error as:
**<pe:timePicker> Tag Library supports namespace: http://primefaces.org/ui, but no tag was defined for name: timePicker**

_### please help me to resolve this issue_

[2019-05-03 07:25] jepsar commented on #694
You need to use this namespace `http://primefaces.org/ui/extensions`

[2019-05-03 07:25] #694 closed

[2019-05-03 11:44] marcelocaser opened #695 "LetterAvatar: How can i use in <p:dataTable/>?"
Problem using the "pe:letterAvatar" component with the "p:dataTable".

As reported in the post https://forum.primefaces.org/viewtopic.php?f=14&t=58781&p=175013#p175013

![image](https://user-images.githubusercontent.com/4399574/57135460-7e5bec00-6d77-11e9-8ac9-eb288058d189.png)

[2019-05-03 11:46] melloware commented on #695
I have verified the issue with this test case:
[pfe-la.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/3141695/pfe-la.zip)

Run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml to see the issue.

[2019-05-03 12:12] melloware commented on #695
OK I see the problem, Just need to come up with a clever way to fix it.

For now if you need a quick fix just do this to your datatable:
[code]
You would have to do similar for sorting and filtering.    I will come up with a real fix though.

[2019-05-03 13:07] marcelocaser commented on #695
Thanks for reply!

I tested the solution and it worked well! Thank you! I'm waiting for a more adequate solution!

[2019-05-04 08:35] jepsar commented on #534
Okay, in the end I didn't found any of the implementations to be 100% useful, so I created one myself on which I'll base the component.

[code]
[code]

[2019-05-04 13:04] jepsar commented on #534
Just added a PR: https://github.com/primefaces-extensions/core/pull/78

[2019-05-05 06:47] jepsar commented on #534
I'm working on the showcase and found some issues with the different themes. I'll try to fix them in a new PR.

[2019-05-05 15:22] melloware commented on #695
Fixed with commit: https://github.com/primefaces-extensions/core/commit/b8b4ccc6aa0cc9fc83940a7b36ade16794189f62

I turned it into a more traditional PF widget and this will be released in 7.0.1

[2019-05-05 15:22] #695 closed

[2019-05-06 12:19] jepsar commented on #534
Added by https://github.com/primefaces-extensions/core/pull/78

[2019-05-06 12:19] #534 closed

[2019-05-06 13:48] jepsar opened #696 "Layout: CSS missing borders with Nova and Luna theme"
See https://github.com/primefaces-extensions/showcase/commit/a382006f59640350ccdd7f17b2cf59729a441182

[2019-05-07 18:23] jepsar commented on #696
Why does this component still exist? Wasn't it moved to PrimeFaces?

https://www.primefaces.org/showcase/ui/panel/layout/element.xhtml

By the way, it is deprecated there. Shouldn't it be be deprecated here as well?

[2019-05-07 18:34] melloware commented on #696
No we use Layout heavily.  PF has a similar component that was created AFTER the PFE one.  Many users are still using this one and I have recommended it as a upgrade path if users want to switch from PF once PF removes it.

[2019-05-07 18:34] melloware commented on #696
I even have this ticket: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/532

[2019-05-07 18:38] jepsar commented on #696
Alright. In that case it needs some CSS work as well.

[2019-05-08 11:26] melloware commented on #696
Is it missing in the Layout CSS or in Nova/Luna?  Because Omega works fine and so do the legacy themes.  I wonder if it something PF is not including in the themes that it should be?

[2019-05-08 12:49] fheldt opened #697 "Sheet: clearFilters() call?"
Currently the sheet component has no way to clear all set filters (which is very annoying).

In the standard primefaces datatable there's the very convinient PF('table').clearFilters() JS function.

[2019-05-09 13:37] pzoli opened #698 "DynaForm: readOnly attribute"
I set readOnly attribute by program in a dynaForm, but not works for me. Is this a correct way?

		if (rights.readOnly() != null) {
			Boolean readonly = evalELToBoolean(rights.readOnly());
			if (readonly != null && readonly) {
				component.getAttributes().put("readOnly",true);
			}
		}

[2019-05-10 01:19] melloware commented on #697
Fixed with commit: https://github.com/primefaces-extensions/core/commit/d9c4ada9ac288f0ca0cea100e052f32fdf18f07b

[2019-05-10 01:19] #697 closed

[2019-05-10 01:20] melloware commented on #698
@Rapster is the DynaForm expert I will wait for him to chime in.

[2019-05-10 19:53] melloware commented on #696
OK fixed with commit: https://github.com/primefaces-extensions/core/commit/d3b93dc263ff101b55ba70557bfdfed63a958fb0

Turns out we just needed to add the PF layout styles to our layout and the premium themes then work.

[2019-05-10 19:53] #696 closed

[2019-05-10 19:59] jepsar commented on #696
Ha, that's a nice fix!

[2019-05-11 15:32] pzoli commented on #698
I use version 7.0

[2019-05-12 10:28] Rapster commented on #698
Hi,

Sorry I'm kinda taking a break from PF issues lately... But by the sound of it, it looks like a duplicate of #571. As far as I can remember, I thought I fixed it, but @melloware had issues after this fix. So, whenever I'll have time to investigate on this, I'll let you know

[2019-05-13 15:00] jepsar commented on #677
See also https://github.com/primefaces/primefaces/issues/4646

[2019-05-16 18:38] melloware opened #699 "QRCode: Upgrade JS from 0.14 to 0.17"
Upgrade to latest library 0.17: https://github.com/lrsjng/jquery-qrcode

[2019-05-16 18:39] melloware commented on #699
Fixed with commit: https://github.com/primefaces-extensions/core/commit/2ce437b2ad39a0094d05267c217cb22827b24e3a

[2019-05-16 18:39] #699 closed

[2019-05-22 09:37] jepsar opened #700 "InputPhone widget does not load the utils script when it should"

[2019-05-22 09:43] jepsar commented on #700
.. ti seems that the utils script is not loaded

[2019-05-22 11:05] jepsar opened #701 "FAB should close on item click with option to keep it open"

[2019-05-22 11:16] melloware commented on #700
Might be related to when I run a release mode build the scripts are compressed.  You can simulate with "mvn clean package -Pcompress".  Maybe something with script compression is breaking it.

[2019-05-22 11:51] jepsar commented on #700
@melloware Thanks. I don't think it's caused by that, but I'll have a look tonight (CET).

[2019-05-22 15:00] jepsar commented on #700
Okay, a coworker of mine experienced this in a project I now no longer trust.. there must be an issue in that project. I just tested with a different project and there it was just working fine.

[2019-05-22 15:00] #700 closed

[2019-05-22 15:01] melloware commented on #700
Good.  Yeah the Showcase was working fine for me locally.

[2019-05-22 17:29] lodhipr opened #702 "Issue with data export"
Can you please help me designing a custom pdf form like i have a data table when i click to export pdf it generate advanced form like a job card which have some preentered values and my data table in it which may looks like an image below
![22047e0a88337b47da2beece718e2431](https://user-images.githubusercontent.com/45519944/58195314-49431980-7ce5-11e9-8517-10099ac962e6.jpg)

[2019-05-23 00:40] melloware commented on #702
This is not possible with the exporter.  Your best bet is to create a custom PDF for this export using something like Apache PDFBox: https://pdfbox.apache.org/

But there is no way to make this component magically generate that form for you.  You will have to create the PDF custom in your code. Sorry.

[2019-05-23 00:40] #702 closed

[2019-05-23 09:25] jepsar commented on #700
We had a JIRA issue collector in the failing project. I had issues with it in combination with PF before, so I just removed it and now the input is working without problems. Weird thing though is that I didn't see any issues in the browsers JS console.

[2019-05-23 09:42] jepsar commented on #680
Let's see if we can get this in 7.0.2 :1st_place_medal:

[2019-05-23 11:55] melloware opened #703 "InputPhone: Update JS and Java libraries"
https://github.com/jackocnr/intl-tel-input/releases/tag/v15.1.0

[2019-05-23 11:56] melloware commented on #703
Fixed with commit: https://github.com/primefaces-extensions/core/commit/ec8f716633a05db67658410ad616211f21af0a07

[2019-05-23 11:59] jepsar commented on #703
I was planning to update the libs just before the release of 7.0.2. The Java lib also has updates (they update very frequently).

[2019-05-23 12:02] melloware commented on #703
OK re-opened and i will leave open until right before we release 7.0.2

[2019-05-23 12:09] melloware commented on #532
Closing as no response given.

[2019-05-23 12:09] #532 closed

[2019-05-23 12:10] #660 closed

[2019-05-23 12:12] melloware commented on #698
Marking as duplicate for now as its tracked in the other issue.

[2019-05-23 12:12] #698 closed

[2019-05-30 09:47] fheldt opened #704 "GChart: Add Gantt chart"
The current GChart component allows only a few chart types, although the underlying Google Charts library has a lot more variants.

Also an "extension" attribute would be great, eg to set the option parameter for the chart(s).

[2019-05-30 14:32] melloware commented on #704
Extender is a great idea.  However for Chart Types I have only been adding them as people request them.

See this class: https://github.com/primefaces-extensions/core/blob/master/src/main/java/org/primefaces/extensions/component/gchart/model/GChartType.java

[2019-05-30 16:06] fheldt commented on #704
Then how about the gantt chart? That would give a really nice new possibility :-)

https://developers.google.com/chart/interactive/docs/gallery/ganttchart

[2019-05-30 16:30] melloware commented on #704
OK fixed with commit: https://github.com/primefaces-extensions/core/commit/92345ae33fade95a1995cc160e15a0b51dacd02c

Adding another ticket for Extender functionality.

[2019-05-30 16:30] #704 closed

[2019-05-30 16:31] melloware opened #705 "GChart: Add Extender functionality"
GChart should have Extender functionality like Sheet component so developers can hook their own Javascript in before the chart renders.

[2019-06-02 20:14] Rapster opened #706 "DynaForm: add client behavior dynamically"
See https://stackoverflow.com/questions/56312802/add-client-behavior-dynamically-with-var-components

[2019-06-06 09:26] stolp opened #707 "TimeAgo: Short flashing display of date string on page load and Ajax update"
I am using Primefaces Extensions 7.0.1 with simple p:timeAgo instance like the following:
[code]
Upon page load or when the containing form is updated via an Ajax submit, I am noticing a small flicker. It looks like that the date string from the title is shortly inserted before the correct timeAgo text is shown. This is very irritating.

Is anybody else experiencing this as well?

[2019-06-06 11:05] melloware commented on #707
Let me investigate and get back to you.

[2019-06-06 11:44] melloware commented on #707
I have confirmed your issue.

[2019-06-06 13:13] jepsar commented on #707
That's how that library rolls.. they are replacing HTML the original HTML would serve as a fallback in case JS is not available (we don't need that). Maybe we should do a rewrite of the script (we could also solve #678 then).

[2019-06-06 13:16] jepsar commented on #707
By the way.. I've noticed that Chrome has having rendering issues lately. I'm not sure what you are using. Could you please let me know what browser you are using?

[2019-06-06 13:24] stolp commented on #707
Good idea, the behaviour indeed varies with the browser implementation:

Brave/Chrome: Annoying
Firefox: Bearable but present
Edge/IE: Not visible

I tested on Brave initially

[2019-06-06 13:31] jepsar commented on #707
If we want to get rid of this we should port the implementation to Java...

[2019-06-06 15:34] melloware commented on #707
Well but if you sit on the page you will notice the TimeAgo keeps changing every minute.  So we would still need some JS code to make the component work.

[2019-06-10 14:52] melloware opened #708 "Global: OWASP Dependency Check Plugin"
Similar to what was done for Primefaces: https://github.com/primefaces/primefaces/issues/4333

[code]

[2019-06-10 14:54] melloware commented on #708
Fixed with commit: https://github.com/primefaces-extensions/core/commit/5c01b16228f27bc5e93fff645924ed95e121caef

[2019-06-10 14:54] #708 closed

[2019-06-10 16:14] pizzit opened #709 "Gravatar: Use "LetterAvatar" as placeholder for Gravatar.notFound"
it would be nice to use LetterAvatar as placeholder when Gravatar account does not exists

[2019-06-10 16:15] melloware commented on #709
Not a bad suggestion.

[2019-06-10 18:40] melloware commented on #605
I am going to say it does not look like it is possible with the way the PDF Viewer JS works in conjunction with how the Component is designed.   Closing for now.  If someone ever figures out a way i would gladly accept a PR.

[2019-06-10 18:40] #605 closed

[2019-06-10 19:56] melloware commented on #709
OK will be in 7.0.2.  Fixed with this commit: https://github.com/primefaces-extensions/core/commit/55cb701021bb1eed0cf79a5de6c7bfdc6de7f54b

You will be able to do this...

[code]

You can see all the customizations here: https://ui-avatars.com/

You have to use this callback URL mechanism.

[2019-06-10 19:56] #709 closed

[2019-06-10 19:59] melloware commented on #634
Closing for now as its not needed and not enough bang for the buck.  If we migrate any components over to PF its easy enough to make that change then.

[2019-06-10 19:59] #634 closed

[2019-06-13 19:11] fheldt commented on #704
Sorry for my late comment, but this there are 2 errors in your commit:

[code]

[2019-06-13 19:22] melloware commented on #704
Fixed with commit: https://github.com/primefaces-extensions/core/commit/b549920601d5bfbadb2b88e4d90572cce5cbd05b

[2019-06-14 11:59] fheldt commented on #705
Did some work for this issue:

[code]

[2019-06-14 12:39] jepsar commented on #705
Is it possible for you to create a pull request? That would be awesome.

[2019-06-15 10:03] jepsar commented on #707
@melloware I think some delay may be caused by how a locale file is loaded:

https://github.com/primefaces-extensions/core/blob/b549920601d5bfbadb2b88e4d90572cce5cbd05b/src/main/resources/META-INF/resources/primefaces-extensions/timeago/1-timeago-widget.js#L22-L30

I'm not sure if that will be the (only) cause of experienced delay, but I'd like to rewrite that bit at least.

[2019-06-15 10:59] melloware commented on #707
I was wondering that.  I think that is a good idea.

[2019-06-17 11:42] melloware commented on #705
Thanks for the PR!

[2019-06-17 11:42] #705 closed

[2019-06-23 13:33] jepsar commented on #707
Maybe we should switch back to https://github.com/primefaces-extensions/core/commit/260f02f22ba6752a742ac773f50639c00c1113d6#diff-058fd7b8ab970dfb58f974683e2085b2R124

[2019-06-23 14:33] melloware commented on #707
Yeah you can give it a try and see if it reduces the flickering?  If so I said we go for it.

[2019-06-28 20:11] melloware opened #710 "CKEditor, CodeMirror: Keep scroll position during update"
* When the CodeMirror and CKEditor have got a fixed height and their
  content exceeds that height, scroll bars appear that let you scroll
  the content.
* When updating a CodeMirror or CKEditor component via an AJAX update,
  the DOMElement is replaced and the editor is rendered again. This
  resets the scrolling position to the top. When editing longer
  documents or longer code, having to scrol

[2019-06-28 20:13] melloware commented on #710
Fixed with commit: https://github.com/primefaces-extensions/core/commit/7c207f713a6fc527bd800eefb331a603b2e342d9

[2019-06-28 20:13] #710 closed

[2019-07-16 11:47] marcelocaser opened #711 "New Component: Credit Card"
I suggest writing a credit card component as in the example below:
https://github.com/amarofashion/react-credit-cards

[2019-07-16 11:51] melloware commented on #711
That is a very nice component.  Too bad that one in particular is specifically for React.  We need to find a raw JavaScript or Jquery based one.

[2019-07-16 11:59] marcelocaser commented on #711
I found some in:
https://www.learningjquery.com/2016/03/10-jquery-credit-card-form-plugins
In particular these:
https://github.com/jessepollak/card
http://kenkeiter.com/skeuocard/
https://github.com/wangjohn/creditly

[2019-07-16 12:39] melloware commented on #711
I like the look of https://github.com/jessepollak/card but it concerns me he is not really accepting PR's anymore and has open PR's.   But that one of the 3 looks like the most recently maintained.

[2019-07-24 17:05] awenger63 opened #712 "Sheet: Text first character empty (Space or blank)"
Hi, in 6.2.10 on sheetcolmun colType="text",
- I cannot add a space on fisrt character type " TOTO", result is "TOTO" on the sheetUpdate.getNewValue(); Same issue on the last char (You can test it on showcase)

Put on bean
`private String testTOTO= " TOTO"; // and getter and setter`
Put on form
`<pe:sheetcolumn headerText="TOTO" value="#{myBean.testTOTO}" colType="text"/>`
 - User cannot see fisrt

[2019-07-24 17:46] melloware commented on #712
Will investigate.

[2019-07-26 07:24] blutorange opened #713 "Sheet: Filtering and dynamic columns not working together"
PrimeFaces Extensions: 7.0.2

# Problem

The showcase gives an example for how to do sorting and another examples illustrating dynamic columns.  When I try to use both features together, it does not work properly anymore:

Say the the user want sort sort by the 4th column. Clicking on the 4th column however results the rows getting sorted by the the first column. This is because internally, the co

[2019-07-26 10:57] melloware commented on #713
Great deep dive!  A PR would be much appreciated.

[2019-07-26 14:47] blutorange commented on #713
I made a PR here: https://github.com/primefaces-extensions/core/pull/84 Preserving backwards compatibility made it a bit harder, but it should work now.

[2019-07-26 14:51] melloware commented on #713
Much appreciated and great work.

[2019-07-26 14:51] #713 closed

[2019-07-31 11:59] francescociani opened #714 "Showcase: pe:timer link is incorrect"
Hi,

in the showcase menu, the timer item actually links to:

https://www.primefaces.org/showcase-ext/views/timeago.jsf

should link to:

https://www.primefaces.org/showcase-ext/views/timer.jsf

[2019-07-31 12:05] melloware commented on #714
Thanks for the report!  Fixed with commit: https://github.com/primefaces-extensions/showcase/commit/ccae2e36a0936960f33ecadc8e14147d4cddb0b3

[2019-07-31 12:05] #714 closed

[2019-08-05 15:02] jdgorrin opened #715 "Sheet: org.apache.myfaces.renderkit.html.HtmlRenderKitImpl.getRenderer Unsupported component-family/renderer-type: org.primefaces.extensions.component/org.primefaces.extensions.component.SheetColumnRenderer"
Hello,

I have a problem using primefaces extensions Sheet, my tomcat logs is too big with the following messages:

05-Aug-2019 11:14:40.098 WARNING [http-nio-8084-exec-57] org.apache.myfaces.renderkit.html.HtmlRenderKitImpl.getRenderer Unsupported component-family/renderer-type: org.primefaces.extensions.component/org.primefaces.extensions.component.SheetColumnRenderer
05-Aug-2019 11:14:40.098 WA

[2019-08-05 15:08] melloware commented on #715
Hmmm according to my notes that was fixed in 6.2.10 but you say you are still seeing this issue?  Are you sure there are no other older PFE versions on your classpath somehow?

[2019-08-05 15:20] jdgorrin commented on #715
Hi @melloware thanks for your answer. I only have PFE 6.2.10 on my classpath. The problem start when i changed from Mojarra to MyFaces.

[2019-08-05 15:28] melloware commented on #715
Hmm I am using MyFaces 2.3.3 in Spring Boot with PFE and was not seeing this message. Then again I am using PF 7.0 and PFE 7.0.1 on that project.

[2019-08-05 15:53] jdgorrin commented on #715
I changed from MyFaces 2.3.2 to 2.3.4 right now but the problem persist. I looked everywhere but I can't find previous versions of PFE. I attached my local log with "extensions" word filtered
[Log Filtered.txt](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/3468401/Log.Filtered.txt)

[2019-08-05 16:30] melloware commented on #715
Can you upgrade to PF7.0 PFE 7.0.1?

[2019-08-15 11:22] melloware commented on #712
Looks like I might have to add trimWhiteSpace property to the SheetColumn.  See: https://handsontable.com/docs/7.1.1/Options.html#trimWhitespace

[2019-08-15 13:11] melloware commented on #712
Fixed with commit: https://github.com/primefaces-extensions/core/commit/f8b1e1b1a48bbb995cd3038c8b9ae14f933decde

[2019-08-15 13:11] #712 closed

[2019-08-16 19:54] melloware commented on #715
OK figured it out.  Fixed with this commit: https://github.com/primefaces-extensions/core/commit/80dec1116327da8c8ebbd7e9ab22fcf66a66ba45

I am not going to patch 6.2.10 but if you want to crack the JAR open just edit the primefaces.extensions-taglib.xml and remove that line and repackage the JAR should fix your issue!

[2019-08-16 19:54] #715 closed

[2019-08-20 18:27] jepsar commented on #703
The Java library already is up to date, right?

https://github.com/primefaces-extensions/master-pom/blob/e720d5652a1501d393c036305e26ce4f5387085b/pom.xml#L63

[2019-08-20 18:45] melloware commented on #703
I think we need to update the JAR as there is a newer version. We are using 8.10.7 there is an 8.10.17

https://search.maven.org/artifact/com.googlecode.libphonenumber/libphonenumber/8.10.17/jar

[2019-08-20 18:47] jepsar commented on #703
Right.. I overlooked the 1. I'll upgrade it as well.

[2019-08-20 19:48] jepsar commented on #703
See PR https://github.com/primefaces-extensions/master-pom/pull/2 and https://github.com/primefaces-extensions/core/pull/85

[2019-08-21 11:07] #703 closed

[2019-08-24 10:40] jepsar commented on #701
See https://github.com/primefaces-extensions/core/pull/86

[2019-08-25 12:01] melloware commented on #701
Fixed with commit: https://github.com/primefaces-extensions/core/commit/9cced0960524173740b572ebf82fcdc1a96d8e95

[2019-08-25 12:01] #701 closed

[2019-08-29 09:38] himbertm opened #716 "Password mask with copy/paste"
Hi, what i found really good is the option of the password mask. Although, if you copy/paste the password elsewhere (for example notepad++), then you can see the password not as *** but as real characters.

[2019-08-30 08:08] jepsar commented on #716
I'd opt for a password field where you would be able to toggle the readability of the text using an eye icon / button.

[2019-09-01 18:43] himbertm commented on #716
Hi, maybe we misunderstood each other. What I mean is that unauthorized people get access to the real password. How? By copying and pasting the password (which is initially written in ***(stars) in the password mask) to their Tool notepad++ they can see the exact and unmasked letters/characters.
The function could also be used for data worthy of protection. Only authorized persons do not see stars

[2019-09-05 14:13] himbertm commented on #716
Sorr this Issue is allways oben.

[2019-09-05 14:27] melloware commented on #716
@himbertm This is the PF Extensions project. Did you mean to post this to the Primefaces project? And are you referring to the https://www.primefaces.org/showcase/ui/input/password.xhtml password field?

[2019-09-06 13:30] melloware opened #717 "AjaxSessionTimeoutListener"
Lot's of discussions and questions about this on the internet.

## 1) Environment
- PrimeFaces version: 6.2(.9)
- Does it work on the newest released PrimeFaces version? No
- Does it work on the newest sources in GitHub? No
- Application server + version: payara 5.183
- Affected browsers: all
- PrimeExceptionHandlerFactory and ajaxExceptionHandler in place

## 2) Expected behavior

when an ajax re

[2019-09-06 13:31] melloware commented on #717
@eduarddrenth  from https://github.com/primefaces/primefaces/issues/4109

[2019-09-06 13:49] melloware commented on #717
Fixed with commit: https://github.com/primefaces-extensions/core/commit/bd0f6f4c9c0f1d3258b9a470d6ef3fa3d70d5888

[2019-09-06 13:49] #717 closed

[2019-09-06 14:29] tandraschko commented on #717
-1
Even the Login.xhtml is hardcoded

[2019-09-06 14:30] melloware commented on #717
Do you recommend reading it from somewhere. Is there a way to pass props from faces-config.xml?

[2019-09-06 16:23] tandraschko commented on #717
yep
also, how does the current code check for a invalid session?
Also i would try MyFaces what happens...

[2019-09-06 16:51] eduarddrenth commented on #717
The default yes, getLoginPath can be overridden

[2019-09-06 16:53] eduarddrenth commented on #717
The session is always invalid, that's the whole point of this listener

[2019-09-06 17:06] tandraschko commented on #717
Why does a forward always means a invalid session?

[2019-09-06 19:58] eduarddrenth commented on #717
I guess you're right, there may be other situations that lead to a forward. For these situations (did not encounter one yet) it may be undesirable to redirect, I'll build in a check.

[2019-09-06 20:13] tandraschko commented on #717
And as long as nobody checks MyFaces, i still think thats an bug in mojarra and therefore -1 to add something

[2019-09-06 20:45] melloware commented on #508
PR submitted to fix #146 finally.

[2019-09-12 01:37] ybendek opened #718 "DocumentViewer: add options to restrict download or print files"
Hi.  I've been using  the DocumentViewer component to display some files, but now I have a request from a client to restrict the options to download or print the file from the viewer.

I made some research about the library used (https://github.com/mozilla/pdf.js/issues/2611) and as far as I found the best way is to add the class "hidden" to the download button. I tried to do it with no success wi

[2019-09-12 13:28] pineappleexperience opened #719 "CKEditor: JS error on update"
Primefaces Extensions version 7.0.2

When updating the CKEditor while it is in source code view. The following error occurs

`TypeError: this.instance.document is undefined`

The error seemes to be a missing check in the `refresh `method of CKEditor:

[code]

[2019-09-12 17:15] #719 closed, assigned to melloware

[2019-09-12 18:54] melloware opened #720 "Global: ComponentUtils.shouldRenderFacet()"
Switch all calls to `facet != null` to `ComponentUtils.shouldRenderFacet(facet)`

[2019-09-12 18:55] #720 closed, assigned to melloware

[2019-09-13 11:42] melloware commented on #718
No problem glad I could help

[2019-09-13 11:42] #718 closed

[2019-09-13 15:44] mores opened #721 "New Component: Color Legend"
It would be great if there was a legend component like: https://tilemill-project.github.io/tilemill/docs/guides/advanced-legends/

I would like to make more use of the timeline component - Color coding all the events is one way to communicate some meaning of the model.
But then I need a legend to show what all the different colors mean.

[2019-09-14 12:26] melloware commented on #721
I am not sure this needs to be a JSF component when you can simply add the HTML/CSS directly to your page and customize it. Check out this working demo I just wrote: https://jsfiddle.net/L918hfzt/

[2019-09-15 04:08] arunvc opened #722 "No class found error PF 7.1 with PF extensions 7.0.2"
[code]

[2019-09-15 09:22] tandraschko commented on #722
PFE and PF must always be the same version. So PF 7.1.x requires PFE 7.1.x.

[2019-09-15 09:22] #722 closed

[2019-09-15 11:46] mores commented on #721
Yes, I agree it is very easy to add this to html/css. Here is my use case: https://github.com/mores/primefaces-test/tree/timeline001-needLegend

![image](https://user-images.githubusercontent.com/1318377/64921022-f0aff480-d78b-11e9-89c3-85bf43cf42a2.png)

If one could simply add
`<pe:legend layout="vertical"  css="#{customTimelineView.colors}" />`
to explain this complicated timeline, it would mak

[2019-09-15 12:13] melloware commented on #721
Yeah I think it would have to be something like this though because you need to match a text label too.
[code]

[2019-09-15 12:40] mores commented on #721
colors is a Map:

`colors = new HashMap<>();
	colors.put("unavailable", "#F03030");
	colors.put("available", "#1AA11A" );
	colors.put("maybe", "#FFA500" );
	colors.put("ready", "#150578" );
	colors.put("call", "#78C0E0" );
	colors.put("order", "#AAA95A");`

[2019-09-16 17:24] melloware commented on #686
Fixed with commit: https://github.com/primefaces-extensions/showcase/commit/346d41f7f99d8459ff92f9210ee0d260617b9c67

I updated all the libraries, fixed all the issues and now we can run with MyFaces or Mojarra.  I switched to use OpenWebBeans to match the PrimeFaces Test project and showcase.

[2019-09-16 17:24] #686 closed

[2019-09-18 14:01] jepsar opened #723 "TimePicker: doesn't look okay with modern themes"
Go to https://www.primefaces.org/showcase-ext/sections/timePicker/basicUsage.jsf and switch to nova-light for example.

[2019-09-18 14:03] melloware commented on #723
wow that looks terrible.  It looks OK in Omega though so I wonder what is missing as far as the new themes and styles?

[2019-09-18 14:30] jepsar commented on #723
I'll look into it..

[2019-09-18 20:11] #716 closed

[2019-09-19 12:43] melloware opened #724 "New Component: iOS Badge"
An iOS style badge that can be applied to p:button, p:linkButton, p:commandButton.

**Screenshot:**
![image](https://user-images.githubusercontent.com/4399574/65244746-3a188080-dab9-11e9-866c-87e99bdfc2a9.png)

**JS Fiddle:** https://jsfiddle.net/hc9dj8yn/

I was thinking something like this...
[code]

This way rather than coding it into all the various button types we make "for" a SearchExpressio

[2019-09-19 12:51] melloware opened #725 "New Component: Search"
Original PF issue: https://github.com/primefaces/primefaces/issues/396

What about a new component which can markup any occurences of a word or a part of a word in a specified object(div, panel,...)? Same thing like the browser search function, but for specified containers. This would be great, especially in addition to filter in dataTable.

eg.
[code]

This jquery component would be ideal: https:

[2019-09-19 18:46] melloware commented on #724
Fixed with commit: https://github.com/primefaces-extensions/core/commit/ebb35af2ec2166f9db1d56b9a3353b23fa945c2a

[2019-09-19 18:46] #724 closed

[2019-09-20 12:01] melloware commented on #721
Fixed with commit: https://github.com/primefaces-extensions/core/commit/4cecd92bcc011e30614bdd38f5b9f8f44966aec0

Usage:
[code]

[2019-09-20 12:01] #721 closed

[2019-09-20 14:20] jepsar commented on #721
@melloware are we targeting 7.1 now? Shouldn't we bump Java to 1.8 as well then?

https://github.com/primefaces-extensions/master-pom/blob/b42309b58cc5826fadb7f8a003da315e39c27167/pom.xml#L51-L52

[2019-09-20 14:23] melloware commented on #721
I have been putting that in there but i still may do a 7.0.3 release.   I like to get ready for 7.1 once PF releases their first Release Candidate for 7.1.

[2019-09-20 19:50] melloware commented on #723
One thing that is missing is "ui-icon-clock"  Both Aristo and Omega have defined ui-icon-clock but none of the premium themes have it. I think the premium themes are definitely missing some stuff as its missing the "North" arrow icon.  I can make it work with PrimeIcons by adding this.

[code]

But that breaks Aristo and Omega if PrimeIcons is not included.

[2019-09-23 15:10] mores opened #726 "LetterAvatar: Two names with the same initials should have two different colors"
When these are generated:
<pe:letterAvatar value="PrimeFaces Extensions" height="150" width="150" />
<pe:letterAvatar value="Photo Extreme" height="150" width="150" />
they should have 2 different colors.

[2019-09-23 15:33] melloware commented on #726
Thanks for reporting.  Let me see what I can do.

[2019-09-23 16:25] melloware commented on #726
From looking at the code this was on purpose that the same initials would generate the same color.

[2019-09-24 14:17] mores commented on #726
For my use case I am using this for grouping....
so all blue PE is linked to database object id=1
and all red PE is linked to database object id=2

It would even be great to utilize round / square....
all yellow round PE is linked to database object id=3
all yellow square PE is linked to database object id=4

[2019-09-24 14:47] melloware commented on #726
I wonder if we should add overrides like color="#FFFEEE" and shape="square" to not let the letter avatar auto calculate but force it to the color you want?

[2019-09-24 14:50] mores commented on #726
I would want these values to come from an algorithm...

[2019-09-24 14:52] melloware commented on #726
Be my guest...  current algorithm is right here:
https://github.com/primefaces-extensions/core/blob/dfc060d634601b0fd41124b8dca28360b25b3f86/src/main/resources/META-INF/resources/primefaces-extensions/letteravatar/0-letteravatar.js#L5-L43

[2019-09-24 14:56] mores opened #727 "LetterAvatar: unable to use inside of timeline"
pe:gravatar works just fine inside of timeline.  Working example: https://github.com/mores/primefaces-test/tree/timeline001-avatar

Tried to replace
<pe:gravatar value="#{timelineEventObject.name}" size="57" notFound="monsterid" />
with
<pe:letterAvatar value="#{timelineEventObject.name}" height="57" width="57" />

But no image is rendered.

[2019-09-24 15:16] melloware commented on #727
Thanks for the reproducer!

[2019-09-24 15:39] melloware commented on #727
OK I think it might be a Timeline issue.  The only reason gravtar works is because Gravatar doesn't use any Javascript it only renders an `<img>` tag.  But LetterAvatar needs to execute JS.  I don't think any PrimeFaces component works in the Timeline.

Try replacing with Colorpicker...
[code]

YOu will see in the Timeline it generates the widget script.
[code]

But its never being called because

[2019-09-25 10:12] adjiandov opened #728 "CustomExporterFactory could not be instantiated"
Hello,
I am switching from the dataExporter to the extensions exporter component, because I need better implementation for lazy-loaded data. I would like to export in batches instead of the whole data, due to huge memory consumption.
I followed the steps in the showcase in order to have a custom exporter, but when I tried to export I encountered the following error:
`java.util.ServiceConfiguration

[2019-09-25 11:11] melloware commented on #727
I am going to close this since it appears not to be LetterAvatar related but Timeline related.

[2019-09-25 11:11] #727 closed

[2019-09-25 11:13] melloware commented on #728
I would say yes you need to follow those instructions and that example exactly: https://www.primefaces.org/showcase-ext/sections/exporter/customExporter.jsf

Including the `<f:setPropertyActionListener value="true" target="#{exporterController.customExporter}" />`

[2019-09-25 11:32] adjiandov commented on #728
Hi Melloware,
Thanks for the reply. Would this mean then that I would need to also have an ExportController bean, since there is none provided? I thought setting this property is only to distinguish later on if I want to use the custom exporters or not in the CustomExportFactory.
I just added this line in my xhtml and now it is complaining that it cannot resolve exporterController (which I underst

[2019-09-25 11:36] melloware commented on #728
I have to admit this is one component I don't use and don't often touch in the PFE suite.   I have never really studied it.  The showcase code is available here: https://github.com/primefaces-extensions/showcase

I would download it and run it locally and study it to see how to make yours work.

[2019-09-25 11:43] adjiandov commented on #728
Perfect,
Thank you melloware :)

[2019-09-25 21:11] adjiandov commented on #728
Hi melloware, were you able to run it locally? I see that the issue is closed, but there is no comment how to make this component work.

[2019-09-25 21:17] melloware commented on #728
Did you download the showcase and run it?  What is not working?

[2019-09-26 09:59] adjiandov commented on #728
Hi melloware,
I did a little investigation on the showcase project and found the following.

`ExporterFactory factory = (ExporterFactory) context.getExternalContext().getApplicationMap().get(KEY);`

On this line in the showcase the applicationMap contains the key which is the filename under the services package as described in the showcase example.
However in my project the applicationMap is not p

[2019-09-26 11:42] melloware commented on #728
Not sure since like I said this is the only component in this suite I don't really touch.  I can see that key is declared as:
[code]

And you are sure your file is called that exactly?
[code]

Other than that all I can say is it works in the Showcase you just have to find what is missing with your setup.

[2019-09-26 11:42] #728 closed

[2019-09-26 11:50] melloware commented on #728
What container are you using?  is it possible its not picking up your META-INF/services directives?  Make sure the file is actually being included in your WAR file in the correct directory?

[2019-09-26 14:42] awenger63 opened #729 "Sheet: how clear, restart or reload on update form"
Hi,
In my application, I use pe.sheet (v6.2.10) component.
When user change a day selection in a calendar, form replace all data on the sheet by a new value array content by an update action.

Users said  "after a number of day change, the form doesn't work properly" :  some actions save in DB not work correctly, LOV in cell aren't update or sheet seem to react slowly.

I Wonder know if someone ha

[2019-09-26 14:51] melloware commented on #729
Try this in whatever method or Ajax you are updating the sheet try this in your onstart for example...

[code]
`PF('mySheetWidget').ht.destroy()` is the HandonTable method to destroy the sheet and remove it from memory.  You should just be able to hit F12 and type that into your console to watch the sheet get detroyed.  Let me know if that helps?

[2019-09-26 15:01] awenger63 commented on #729
Yes, I test it on console and onstart event like you suggest and I work like a charm. It is exactly what I need to restart at each day selection.
I will implement this for the moment and wait user return !
Thanks @melloware

[2019-09-26 15:01] #729 closed

[2019-09-26 15:09] melloware commented on #729
OK let me know if that fixes it for your users.

I also just added this commit: https://github.com/primefaces-extensions/core/commit/e17ca2d8c44cfbbea1a44323856c3118345ece97

If you want to try if this fixes it without the "start" trick add this code to your page.

[code]

[2019-09-26 15:23] adjiandov commented on #728
This was an issue with the class loader. In the copy/pasting from the DefaultExporterFactory, somehow a constructor with package protected modifier ended up in my CustomExporterFactory, which caused the above-mentioned error. Thank you for your time and if someone else experiences this, the CustomExporterFactory, does not need any constructor.

[2019-09-26 15:30] melloware commented on #728
Thanks for posting your solution.

[2019-09-28 14:41] melloware opened #730 "New Component: Mapping OL3 or OpenStreetMap"
Based on 2 requests in PF...

https://github.com/primefaces/primefaces/issues/67
https://github.com/primefaces/primefaces/issues/40

OL3:  https://openlayers.org/

OpenSteetMap: https://www.openstreetmap.org/#map=5/38.007/-95.844

[2019-09-30 08:51] jepsar commented on #723
Isn't this something worth reporting at PF? Or do you think there went for a bare minimum when it came to support legacy icons?

[2019-09-30 11:23] melloware commented on #723
Yeah I think it should be reported.  I understand not having the clock icon maybe but the North Arrow seems like they would need that for spinner etc.  But the way they looked like they styled they styled the spinner icons specifically with ui-spinner etc.

[2019-09-30 11:27] #707 closed

[2019-09-30 15:41] jepsar commented on #678
@melloware I agree. For now I'm closing this.

[2019-09-30 15:41] #678 closed

[2019-09-30 20:09] melloware commented on #723
The problem is there is no real issue tracker for those premium themes.  See: https://github.com/primefaces/primefaces/issues/5206

[2019-09-30 20:11] #561 closed

[2019-10-01 08:21] jepsar opened #731 "New Component: SIP.js based SIP / WebRTC client"

[2019-10-01 17:25] blutorange opened #732 "CKEditor: Events not fired anymore after changing the mode"
To see this, change the `Basic Usage` showcase for the CKEditor like this by adding an AJAX listener for the `change` event:

![image](https://user-images.githubusercontent.com/2456413/65982363-782f8000-e47b-11e9-83d6-5d69309c58c0.png)

[code]

When you type anything in the CKEditor, the message `change` is logged. But if you, for example, switch to the source code mode and then switch back, it wo

[2019-10-01 17:29] melloware commented on #732
PR would be awesome.  I will merge it.

[2019-10-02 11:16] melloware opened #733 "Timer: Add style and styleClass attributes"
From Stack Overflow: https://stackoverflow.com/questions/58186042/how-to-set-the-text-color-of-a-petimer

[2019-10-02 11:27] melloware commented on #733
Fixed with commit: https://github.com/primefaces-extensions/core/commit/8a768a01d8799058874549e6c95e7923caf122c4

[2019-10-02 11:27] #733 closed

[2019-10-02 11:28] melloware commented on #732
When you submit PR do you mind adding a change event to the showcase so we have this test in the future?

[2019-10-02 11:30] blutorange commented on #732
Probably today when I get home. Sure, I can get add something to the showcase.

[2019-10-02 17:07] blutorange commented on #732
Another subtle thing I noticed, there is a `dirty` event that is fired on change, but only when the [CKEditor instance is dirty](https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.html#method-checkDirty).

When you try it out, you'll notice the `dirty` event is not fired when you press a key to enter the first character, but only once you enter the second character.

That's because the

[2019-10-02 17:09] melloware commented on #732
Agreed!  Thanks in advance.

[2019-10-02 17:15] melloware commented on #631
@ssibitz is it safe to close this ticket?

[2019-10-02 17:29] melloware opened #734 "CKEditor: Dirty flag not always set"
Another subtle thing I noticed, there is a `dirty` behavior event that is fired on change, but only when the [CKEditor instance is dirty](https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.html#method-checkDirty).

When you try it out, you'll notice the `dirty` event is not fired when you press a key to enter the first character, but only once you enter the second character.

That's be

[2019-10-02 17:34] melloware commented on #732
You can submit one PR but I created a separate ticket for it: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/734

[2019-10-02 17:38] #732 closed

[2019-10-02 17:38] melloware commented on #734
Fixed with commit: https://github.com/primefaces-extensions/core/commit/44bbe0f1664630ca548d54a7a69f6cc139461296

[2019-10-02 17:38] #734 closed

[2019-10-02 18:50] blutorange opened #735 "CKEditor/CodeMirror: Keeping the scroll position is not always working"
Now that primefaces-extensions/primefaces-extensions.github.com#732 is fixed, I can come back to what I had been taking a look at.

Some time ago, I [submitted a change](https://github.com/primefaces-extensions/core/pull/83) to keep the scroll position of the CKEditor and the CodeMirror during AJAX updates.

A bit later, there was an issue (primefaces-extensions/primefaces-extensions.github.com#71

[2019-10-02 19:25] melloware commented on #735
I like it.

[2019-10-03 06:55] jepsar commented on #723
We could also load the icons like the modern themes do:
[code]
And then simply replace `ui-icon-clock` with the PI equivalent.

And other option I was thinking of is detecting if a legacy theme is used in Java and based on that set the icon. We can also make that a EL function, so you could use that to set the submit button icon.

[2019-10-03 11:19] melloware commented on #735
Fixed with commit: https://github.com/primefaces-extensions/core/commit/935f16a16b65accb7df6bdccd3cb65ab13342b8d

[2019-10-03 11:19] #735 closed

[2019-10-03 11:21] melloware commented on #723
It looks like PrimeIcons comes in PrimeFaces JAR but users must include it in their page its not enabled by default with..
[code]

But I like your idea if you want to give it a shot?

[2019-10-03 13:09] jepsar commented on #723
Do you mean the one about Java legacy theme check?

[2019-10-03 13:20] melloware commented on #723
Yeah basically anything we can do to make this work for Aristo/Omega icon themes and Nova and Luna Font themes would be ideal.  I am open to suggestions.

[2019-10-03 13:20] melloware commented on #723
Also I was wrong the premium themes use FontAwesome i believe not PrimeIcons.

[2019-10-06 14:24] jepsar commented on #723
I'm trying this route. I the component, check based on the theme if we need to load PrimeIcons:
[code]
In ThemeUtils:
[code]
But I run into an issue reading the configured theme:
[code]
This is basically the same code as is used in the PF [HeadRenderer](https://github.com/primefaces/primefaces/blob/ce3e365460f99d27bfcfc447852963aed0ad9604/src/main/java/org/primefaces/renderkit/HeadRenderer.java#L7

[2019-10-07 12:40] melloware commented on #723
@jepsar Did you delete your last comment about getting the PF theme?  I can't find it?

[2019-10-07 12:45] jepsar commented on #723
Yeah, I already figured out what was going wrong. The component's constructor is executed too early to handle dynamic themes (as used in the showcase). So I need to take a step back and rethink my solution. Here is what I had so far https://github.com/jepsar/pfe-core/commit/ab74c91a4956af6b0661ae2bc5c8a73376d672ff

[2019-10-07 13:48] melloware commented on #723
I like where you are going but maybe a simpler option is in the JS side?   Detect the theme and add the style with jquery ?  Since the theme loaded on the page absolutely can't be incorrect and phase doesn't matter?

[2019-10-07 14:48] jepsar commented on #723
How can you detect the theme using JavaScript? Is that possible if you use a combined resource handler?

[2019-10-07 15:04] melloware commented on #723
Even with resource optimizer the theme script is never optimized.

[code]

[2019-10-07 16:27] melloware commented on #723
In PrimeFaces core.js they have this method for changing theme.

So maybe we could write one for getTheme();
[code]

[2019-10-07 17:32] melloware commented on #723
I just pushed a fix that seems to work. Can you please review this commit: https://github.com/primefaces-extensions/core/commit/1b046f47f60bcd41b7154dfeffc81ceb6c397af2

[2019-10-07 18:01] #631 closed

[2019-10-08 07:42] jepsar commented on #723
This only fixes the icons and still leaves some styling issues.

[2019-10-08 11:14] melloware commented on #723
Yep I wanted to get the hard part out of the way in determining whether to use primeicons or not, now that we have that we can add custom CSS to style based on knowing .ui-prime-icons it set.

[2019-10-08 12:37] jepsar opened #736 "PrimeIcons: add CSS class to body indicating and patch theme"
See https://github.com/primefaces-extensions/core/commit/1b046f47f60bcd41b7154dfeffc81ceb6c397af2#r35403172

[2019-10-11 15:13] melloware opened #737 "Master: Update Dependencies"
[code]

[2019-10-11 15:14] melloware commented on #737
Fixed with commit: https://github.com/primefaces-extensions/master-pom/commit/8bf7f5cce401cc55b396fb010086c925b1429808

[2019-10-11 15:14] #737 closed

[2019-10-12 09:00] jepsar opened #738 "Showcase does not work on small screen devices"
I wanted to test the TimePicker on my phone and was unable to navigate to it

[2019-10-13 17:55] jepsar commented on #726
Why do we generate an image here? Isn't is easier to generate HTML + CSS? This would also allow customization.

[2019-10-13 18:39] melloware commented on #726
No reason this component was donated but we can do whatever we want!

[2019-10-14 11:37] #723 closed

[2019-10-14 11:44] melloware commented on #738
Relates to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/444

[2019-10-15 09:12] jepsar commented on #726
Regarding coloring the same letters differently, you could calculate a hash of the full name, get the modulo of 360 and use that as the hue value of a HSL color.

[2019-10-21 18:17] melloware commented on #738
Closing as duplicate of #444

[2019-10-21 18:17] #738 closed

[2019-10-22 07:59] sberequek opened #739 "DocumentViewer: preserve the current page and zoom"
Hi,

I have in a tab a documentViewer and a tree where I select the files to display. Each time I go back to the tab the navigation settings (page and zoom) of current document are reset to initial settings.
I tried to enable the cache option but although the navigation settings are preserved, I can't change the document to be displayed.
Is it possible to have the current navigation information (p

[2019-10-22 11:03] melloware commented on #739
This is not currently possible out of the box with the way PDF.js works and loads in an IFRAME with a URL.   The only way you might be able to do it is onTabChange write some JQuery code that gets those values from the DocumentViewer IFRAME and sends them to backing bean values using p:remoteCommand Javascript.

[2019-10-29 21:15] Kalmaasaly opened #740 "Primefaces CKeditor bug url"
Could any one knows how to solve this bug resources-ckeditor generate this link which is wrong: /javax.faces.resource/ckeditor/plugins/mathjax/?ln=primefaces-extensions&v=7.0.2images/loader.gif

This url works correctly /javax.faces.resource/ckeditor/plugins/mathjax/images/loader.gif?ln=primefaces-extensions&v=7.0.2

I am using primefaces 7 primefaces-extensions 7.0.2 resources-ckEditor 7.0.2

[2019-10-29 23:47] melloware commented on #740
I can't reproduce your issue.  Can you create a small reproducible sample using the Test project please?  Clone this repository https://github.com/primefaces/primefaces-test.git in order to reproduce your problem, you'll have better chance to receive an answer and a solution.

I can only debug it if I have an example of the problem happening.

[2019-10-30 19:06] melloware commented on #740
I think what you really want is an enhancement to use the MathJax plugin with CKEDitor?

[2019-10-31 19:54] #739 closed

[2019-11-01 14:29] melloware commented on #676
@jepsar I checked in all the changes to move to PF 7.1-SNAPSHOT and Java 8.  I fixed all the compiler warnings and 3 of of the 4 tasks above.

[2019-11-01 14:29] melloware commented on #677
OK this ticket is ready to be worked on.

[2019-11-02 21:35] Kalmaasaly commented on #740
Yes, I want to use MathJax plugin but Error URL found also in mono skin doesn't  render the icons of ckEditor

[2019-11-04 19:45] testing138 opened #741 "FAB: Allow content instead of menu"
Hi all,

It would be awesome if you can create a widget as it´s in use for many famous systems (zendesk, intercom). You can use it for chat, chat bot, knowledge articles etc.

Please find examples:
- Widget is in the right corner:
![image](https://user-images.githubusercontent.com/52133436/68151688-748f8d00-ff42-11e9-8645-d639b65877d2.png)

- User can click on it and a new panel is opening:
![imag

[2019-11-04 19:47] tandraschko commented on #741
looks like a button with some styling + overlayPanel.
-1 for add something that is more like a composite component.

[2019-11-04 19:49] melloware commented on #741
Community discussion:  https://forum.primefaces.org/viewtopic.php?f=14&t=60376

@tandraschko We already have Floating Action Button that assumes you want to use it as a menu. I think it could easily be modified to take panel content as well....similar to this Jquery component
https://www.jqueryscript.net/menu/Material-style-Floating-Button-Panel-Plugin-For-jQuery-st-action-panel.html

[2019-11-04 19:51] melloware commented on #741
Or maybe we just need to add "on" handlers to FAB so a user can open an Overlay Panel from FAB?

[2019-11-04 20:23] jepsar commented on #741
I could throw in an Ajax event

[2019-11-04 20:24] melloware commented on #741
Yeah I think open and close ajax events would be good.  Then we could use "pe:javascript" to open and close a OverlayPanel.

[2019-11-04 20:28] melloware commented on #741
After you do it I will add a showcase example doing exactly like ZenDesk.

[2019-11-04 22:04] testing138 commented on #741
Additional to that - sometimes it make sense to have the p:menuitem and if you click on one of the <p:menuitem, it will open a panel as in my first screenshot.

E.g. you have one button:
- p:menuitem no1 will open chat panel
- p:menuitem no2 will open knowledge panel
- p:menuitem no3 will open email panel

But if you could implement such like mentioned in my first post, that would be very great.

[2019-11-05 07:53] testing138 commented on #741
And one more wishes:

**1) Something like badget, like:**
Attributes:
a) showValues = true / false
b) valuesNumber = int number
![image](https://user-images.githubusercontent.com/52133436/68188140-c9fe8500-ffa8-11e9-9e30-11119bfa3273.png)

**2) Overlay Panel is open on loading screen**
Attributes:
a) loadOnStart = true / false
-> As soon page is loaded, the panel is open automatically.

**3) Open

[2019-11-05 12:18] melloware commented on #741
Please see https://primefaces.github.io/primefaces/7_1/#/components/overlaypanel?id=overlaypanel OverLayPanel documentation it already does most of what you want. because it has 3 client side JS methods.  So loading the panel on start simply call `PF('overlayPanel').show();`  So none of that will be necessary for this change.

[2019-11-05 13:25] rider87 commented on #741
This enhancement would be very nice.
I agree to melloware: 2) and 3) can be done with OverlayPanl, but not 1).
This would be also great to integrate it here

[2019-11-05 13:26] melloware commented on #741
This is fixed for 7.1.
To acheive the example above...
[code]

Closed:
![image](https://user-images.githubusercontent.com/4399574/68211641-efd65a80-ffa5-11e9-92c9-731d9e2750f9.png)

Opened:
![image](https://user-images.githubusercontent.com/4399574/68211681-011f6700-ffa6-11e9-8166-659f34a3f139.png)

[2019-11-05 13:28] melloware commented on #741
@testing138 To Achive iOS badge functionality see the new component: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/724

You can probably steal the CSS from our source code to apply the badge to almost anything.

[2019-11-05 13:28] #741 closed

[2019-11-05 13:39] melloware commented on #677
We want to look at CalendaUtils in PrimeFaces as it has a lot of functions like getValue() thta handle getting it as Date or LocalDate etc.

[2019-11-05 13:39] #676 closed

[2019-11-05 14:39] jepsar commented on #677
Alright, I'll have a look at it

[2019-11-05 14:42] rider87 commented on #741
means it can be used now? Or at least in version 7.1 ?
If yes, when will 7.1 be available?

[2019-11-05 15:34] melloware commented on #741
7.1 will be based on PF 7.1 which is due to have its first Release Candidate deployed in the next couple of weeks.

If you need this in 7.0.3 i would just grab the 7.0.3 release https://github.com/primefaces-extensions/core/releases

Make the changes I made in this commit: https://github.com/primefaces-extensions/core/commit/59906bbf037654682bc88b531684eafa0ad58351

And do a `mvn clean install` to

[2019-11-07 08:59] jepsar opened #742 "TimeAgo should be able to render the title in the original time zone"
The should be an attribute to either use the system zone or the zone present in the time object

[2019-11-08 16:17] melloware opened #743 "OrgChart: Upgrade plugin to 2.1.9"
https://github.com/dabeng/OrgChart

Upgrade to 2.1.9 version

[2019-11-08 16:18] melloware commented on #743
Fixed with commit: https://github.com/primefaces-extensions/core/commit/f8409a07bfcb2b4379873e687698697b5247960a

[2019-11-08 16:18] #743 closed

[2019-11-08 18:08] melloware opened #744 "OrgChart: Add style and styleClass attributes"
Need standard style and styleClass to be able to control the outermost DIV.

[2019-11-08 18:08] melloware commented on #744
Fixed with commit: https://github.com/primefaces-extensions/core/commit/7e069978a6f8cf2b3055546a6d1bfafc619481f7

[2019-11-08 18:08] #744 closed

[2019-11-08 18:24] melloware opened #745 "Timer: Use moment.js from PF"
PrimeFaces already includes moment.js so no need for the Timer component to use its own version just reference the one from Primefaces.

[2019-11-08 18:25] melloware commented on #745
Fixed with commit: https://github.com/primefaces-extensions/core/commit/3e49711fa9a7213a81a87127a365c9246148bb32

[2019-11-08 18:25] #745 closed

[2019-11-08 18:34] melloware commented on #721
@mores 7.0.3 is in Maven central if you want to try this component now.

[2019-11-09 15:22] melloware commented on #677
Fixed TimePicker with commit: https://github.com/primefaces-extensions/core/commit/5ae7824e352202d5578adee85e3582998653b3ec

it now supports either java.util.Date or java.time.LocalTime.  Also updated the showcase to show the use of both types.

[2019-11-09 15:22] #677 closed

[2019-11-09 15:40] melloware opened #746 "SourceMaps: Remove"
We have gotten a few complaints about how PFE includes SourceMaps in the JS.  Also my company firewall is blocking them so I get constant warnings in my browser console.  Since this feature can be achieved other ways I am going to remove the Source Map functionality for 8.0.

See:
https://forum.primefaces.org/viewtopic.php?f=14&t=59842
https://forum.primefaces.org/viewtopic.php?f=14&t=44293

[2019-11-09 15:50] #746 closed

[2019-11-09 16:07] melloware opened #747 "Optimizer: Update Google Closure"
Update to latest Google Closure compiler and test it.

[2019-11-12 18:12] melloware opened #748 "CKEditor: Allow use of CSP"
Testing the new CSP functionality of PF 8.0 I have some changes I need to make to get CKEDITOR to work with CSP.

[2019-11-12 19:06] melloware commented on #748
Fixed with commit: https://github.com/primefaces-extensions/core/commit/dc2bcfc3109af645e6d1d46959317b7753ea239c

[2019-11-12 19:06] #748 closed

[2019-11-12 19:48] melloware opened #749 "GitHub: Remove component"
This is a pretty useless component and not kept up to date and the webfont is reporting issues in Chrome.  Going to remove it.  If anyone asks we can always add it back.

[2019-11-12 20:06] melloware commented on #749
Fixed with commit: https://github.com/primefaces-extensions/core/commit/3103334da4b5aeb980edc50f1bf7ce36bb272333

[2019-11-12 20:06] #749 closed

[2019-11-13 12:06] melloware opened #750 "DocumentViewer: Provide access to PDFViewerApplication"
Based on Stack Overflow: https://stackoverflow.com/questions/58781170/search-using-javascript-on-embedded-pedocumentviewer

Need to provide access in some way to the PDFViewerApplication

[2019-11-13 17:27] melloware commented on #748
There is an open CKEditor issue that requires you to use `unsafe-inline` directive you can read about here: https://dev.ckeditor.com/ticket/8584

[2019-11-13 18:32] melloware commented on #747
Fixed with commit: https://github.com/primefaces-extensions/resources-optimizer-maven-plugin/commit/b06bdc6e2a95a2a867e3e13f92ddd4a54722b992#diff-1f4964536f397e8679625954c7139bd6

[2019-11-13 18:32] #747 closed

[2019-11-13 19:22] melloware commented on #750
No need for changes you can access the PDFViewerApplication by asking the Frame that owns it like...
[code]

[2019-11-13 19:22] #750 closed

[2019-11-15 10:28] jepsar opened #751 "InputPhone should support .ui-inputgroup"

[2019-11-18 12:05] cocorossello opened #752 "TimePicker: NPE in js, when using with omnifaces CombinedResourceHandler"
When using [CombinedResourceHandler](http://showcase.omnifaces.org/resourcehandlers/CombinedResourceHandler) timepicker throws an NPE in core.js:139.

The problem appears in [v7.0.3](https://github.com/primefaces-extensions/core/commit/1b046f47f60bcd41b7154dfeffc81ceb6c397af2#commitcomment-35981158)

There is no specific `<link>` tag, so this themeURL is always null in this case.

Options would be

[2019-11-18 13:12] melloware commented on #752
@cocorossello When I run the PFE Showcase with OmniFaces Combined Resource Handler here is what I see.
[code]
The theme.css is not bundled in the ResourceHandler due to the way OmniFaces collects and PrimeFaces adds the theme directly so it is not processed by OmniFaces?

[2019-11-18 13:22] melloware commented on #752
I just checked in this defensive fix: https://github.com/primefaces-extensions/core/commit/4d75aa0d80ff0afef713acdb6850103b7cabc729

if you need this fix right now just add this JavaScript to your page.
[code]
Or return whatever your theme is,

[2019-11-18 18:07] cocorossello commented on #752
Ok, thanks, looks good.

In my case I was combining also the theme via a custom HeadRenderer (as balusc recomends):

`@ResourceDependency(library = "javax.faces", name = "jsf.js")
@ResourceDependency(library = "primefaces-bootstrap", name = "theme.css")
@ResourceDependency(library = "org.apache.myfaces", name = "oamSubmit.js")
@ResourceDependency(library = "primefaces", name = "jquery/jquery.js")

[2019-11-18 18:08] #752 closed

[2019-11-18 18:21] melloware commented on #752
OK got it that makes a lot of sense!

[2019-11-19 10:06] jepsar commented on #751
Hi @mertsincan

Is there a reason why the input group CSS rules are written like `.ui-inputgroup > .ui-inputtext` instead of `.ui-inputgroup .ui-inputtext`?

The latter would allow us use `ui-inputtext` on components like the phone input (which are wrapped in some node). Should I open an issue at the PF repo for this?

[2019-11-19 11:59] melloware commented on #751
@jepsar Why not just add this to the inputphone.css ?  This is what InputNumber does.

.ui-inputgroup > .ui-inputphone:not(:first-child) > .ui-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 none;
}

.ui-inputgroup > .ui-inputphone:not(:last-child) > .ui-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:

[2019-11-19 12:02] jepsar commented on #751
I'd prefer a generic solution, but, yes, we could add specific rules.

[2019-11-19 12:03] melloware commented on #751
I think we have to since that is how all the other PF components do it.

[2019-11-19 12:04] jepsar commented on #751
Alright then. I'll add it tonight.

[2019-11-19 12:18] melloware commented on #751
Fix with this commit: https://github.com/primefaces-extensions/core/commit/49b3105804f3415e3f07a82e40481703e26773d2

Please review.

[2019-11-19 17:56] jepsar commented on #751
@melloware There was a small issue with the selectors. Fixed with https://github.com/primefaces-extensions/core/commit/80e97ef37e2544ef4bbf1519e965a341f52cf196

[2019-11-19 17:56] #751 closed

[2019-11-19 18:13] melloware commented on #751
awesome!

[2019-11-21 16:41] 4lp3rt0rq0 opened #753 "focus <pe:inputPhone /> fail"
I have next code:
`<p:inpulText id="txtEmail" onkeypress="if(event.keyCode ==13){PF('txtTel').jq.focus(); return false;}" value="#{myBean.email}"/> <p:inputPhone id="txtTel" value="#{myBean.tel}" />`
when the enter key is pressed inside txtEmail, it doesn't focus on txtTel.

[2019-11-21 16:45] melloware commented on #753
Try...
[code]

[2019-11-21 17:30] 4lp3rt0rq0 commented on #753
thanks, it works !!!

[2019-11-21 17:34] #753 closed

[2019-11-26 12:17] melloware commented on #753
In 8.0 I am adding a widget method `focus()` as a shortcut to this so you will be able to do `PF('txtTel).focus().

Fixed with commit: https://github.com/primefaces-extensions/core/commit/6e3568458511f6570a0c5bc1fcce0de4a1f72b01

[2019-11-26 12:29] melloware opened #754 "InputPhone: Support enable/disable client API"
Similar to InputNumber add enable() and disable() client side API methods.

[2019-11-26 12:31] melloware commented on #754
Fixed with commit: https://github.com/primefaces-extensions/core/commit/ec28e5a5aa09be838b8f6b1b27a0739aa3e217ef

[2019-11-26 12:31] #754 closed

[2019-11-29 16:09] jepsar opened #755 "New component: HashChange"
I would like to easily do Ajax updates and allow the user to use the browser back button. I'm thinking of implementing something like:

    <p:commandButton ... onsuccess="location.hash = 'list'"/>
    <p:commandButton ... onsuccess="location.hash = 'product-xyz'"/>
    <pe:hashChange startsWith="list" listener="..." update="..."/>
    <pe:hashChange startsWith="product-" listener="..." update="..

[2019-11-29 16:12] melloware commented on #755
if you have the use case good with me but would like @tandraschko to weigh in.

[2019-11-29 16:18] jepsar commented on #755
I think I'll be implementing this in our current project anyway. If it turns out to be useful I can always create a component out of it.

[2019-11-29 16:18] tandraschko commented on #755
in generell +0
one can simply use onhashchange + remoteCommand.

Otherwise please don't add listener/update to the component itself, just reuse behaviors / p:ajax.
So renderer will just render the window.onhashchange script and nothing else

[2019-11-30 14:44] jepsar commented on #755
For now I'll use `p:remoteCommand`.

[2019-11-30 14:44] #755 closed

[2020-01-08 12:36] aureliaalessio opened #756 "CKEditor wrong input encoding"
Hello. I would like to report a **bug**.

When I used to use `p:editor`, I got the HTML by JavaScript function `saveHTML `and it worked perfectly even when the text contained Czech characters (ěščřžýáíéó), I did not even have to set enconding or anything else and it worked. Now however when a user writes "_V případě dalších dotazů se na nás můžete obracet každý den na telefonním čísle_", the gotte

[2020-01-08 12:53] melloware commented on #756
@aureliaalessio Can you download this ZIP.

[pfe-756.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4035323/pfe-756.zip)

Explode it and run "mvn clean jetty:run-exploded" and navigate to http://localhost:8080/primefaces-test/test.xhtml

That is a working mini test project.  Can you then edit it to show me the exact issue you are having and re-attach the ZIP f

[2020-01-08 13:11] aureliaalessio commented on #756
I'll try it right away, @melloware.

[2020-01-08 15:32] aureliaalessio commented on #756
So, I and my colleague **found out what the issue was**. The original editor `p:editor`, which we had been using and which we are trying to replace by `pe:ckEditor`, could provide us with its content in HTML only in case we used JavaScript function `saveHTML`. But with `pe:ckEditor`, anytime the user hit the _Send_ button, whose `onstart `contained the `saveHTML`, **the `saveHTML` corrupted the co

[2020-01-08 15:54] melloware commented on #756
Excellent! Glad I could help.

[2020-01-08 15:54] #756 closed

[2020-01-10 11:00] Rapster commented on #358
I'm quite interested for having a "key for subscription" on `p:autoUpdate`. I'd like to write something like:

[code]

Does it make sense to you?

[2020-01-10 11:07] tandraschko commented on #358
sure, thats the same thing as the "key mode" in my first post; maybe we can also call it event/observer like CDI

[2020-01-10 11:15] Rapster commented on #358
Should I create a ticket on PF then? The idea being to extend `p:autoUpdate` and not create a new component

[2020-01-10 11:26] tandraschko commented on #358
yep

[2020-01-12 12:09] JeeDevUser commented on #531
Hm.
The problem are still here, with primefaces-extensions-7.0.2.jar
Tried with 8.0RC1, but this time I got
[code]
so I am unable to run app at all

[2020-01-12 13:36] melloware commented on #531
@JeeDevUser Are you sure you don't have 2 PrimeFaces JAR's in your path?  I use the Layout component in 2 productions apps with no issue.  If you are still having issues can you create a reproducible test case for me?

All of the examples on our showcase appear to be working and our showcase uses the pe:layout itself.

[2020-01-12 14:04] JeeDevUser commented on #531
@melloware, sorry, this was my mistake. I had layout options class, in that class I was setting child layoutPanes that ware not defined. Classical copy-paste problem :-( Sorry again

[2020-01-12 16:30] melloware commented on #531
No problem!

[2020-02-06 08:44] jepsar opened #757 "Exporter should check rendered state of targeted components"
.. or should the user take care of that? @melloware ?

See https://stackoverflow.com/questions/60076040/non-rendered-pdatatable-ends-up-in-peexporter-pdf

[2020-02-06 09:19] RosaNatali commented on #757
that resolves my problem.
**Big thanks.** #

[2020-02-06 12:16] melloware commented on #757
I think we should add a rendered check in the Exporter.  @jepsar Do you want to take care of that or did you want me to?  Feel free if you have the time but let me know if you want me to do it.

[2020-02-06 12:23] jepsar commented on #757
Feel free to take it. I was planning to address a few other things as well:

* From the documentation it's not really clear you can set multiple targets.
* In JSF one would usually separate clientIds with a space, In PF you can use either space or comma. Here only comma is allowed (at first glance).

[2020-02-06 12:31] melloware commented on #757
OK I checked in this fix: https://github.com/primefaces-extensions/core/commit/47736dfe2f626ffbdf5d06c152b3390c936a2086

I do see what you mean this component is hard wired for comma seaprated tables and that check happens in multiple places.

As for docmentation I think they were just assuming you look at this example but I think the TagLib docu should be updated to mention comma separated for th

[2020-02-06 12:33] melloware commented on #757
OK this commit updates the taglib: https://github.com/primefaces-extensions/core/commit/a72a2bf467e3fbbeb97bd69830e48c4861abdcfe

[2020-02-06 12:40] jepsar commented on #757
Space separation should be a new issue IMO.

[2020-02-06 12:43] melloware commented on #757
Agreed since that is a bigger change.  I will close this ticker as FIXED.

[2020-02-06 12:43] #757 closed

[2020-02-06 12:48] jepsar opened #758 "Exporter target should also allow space separated values"
See #757

[2020-02-13 09:12] Exandra opened #759 "CKEditor: Attribute "toolbar" is ignored"
## 1) Environment
- PrimeFaces version: 8.0.RC1, 8.0.RC3
- PrimeFaces extensions version: 8.0.RC1
- Application server + version: Jetty, WildFly 14.0.1
- Affected browsers: All

## 2) Expected behavior

Attribute "toolbar" should customize CKEditor toolbar icons. (Primefaces 7.0)

![primefaces-extensions ckeditor 70](https://user-images.githubusercontent.com/30283406/74418219-56420300-4e48-11ea-9e

[2020-02-13 13:08] melloware commented on #759
Thanks for reporting!  I had to make a PF fix here:
https://github.com/primefaces/primefaces/pull/5595

This will be fixed in 8.0 Final with this commit: https://github.com/primefaces-extensions/core/commit/733101ba874cb40cc3ee43ed87a12715e0cdb1fe

[2020-02-13 13:08] #759 closed

[2020-02-20 14:13] melloware commented on #758
Fixed with commit: https://github.com/primefaces-extensions/core/commit/b1d3e197ecb75e08e82e1f750a0a60fe354f07df

[2020-02-20 14:13] #758 closed

[2020-02-23 10:56] jepsar opened #760 "Add single click renderer for CommandButton"
See https://github.com/primefaces/primefaces/issues/2521

[2020-02-23 12:36] jepsar commented on #760
@melloware do you have an idea how we could load the Javascript? I don't want to introduce a new component, just the renderer.

One option I see is to make it part of the documentation that you should load some (the PFE core?) Javascript if you want to use the renderer.

[2020-02-23 12:48] Rapster commented on #760
Why don't you write JS code inline?

[2020-02-23 12:52] melloware commented on #760
I don't know the spec but are we not allowed to use ResourceDependencies on Renderer's?
[code]

Because it would be nice just to have it in primefaces-extensions core.js so its not inline on the page and it gets compressed and cached.

[2020-02-23 12:54] jepsar commented on #760
@Rapster  I'd like to keep the outputted bytes to a minimum. But inline JS would be an option.

@melloware I think we are too late in the renderer to add resources.

[2020-02-23 12:56] Rapster commented on #760
If you don't go on inline route then, you'll have to create a `CommandButtonSingleClick` component which only set a new `@ResourceDependency`

[2020-02-23 12:57] melloware commented on #760
OK understood.  that would be my preference vs inlining?  @Rapster have any angst about that?

[2020-02-23 12:58] melloware commented on #760
Plus it would allow for prototype overriding in JS if someone wanted to do something special or different in these methods as an added bonus.

[2020-02-23 13:14] Rapster commented on #760
No, I have nothing against it but I think inline JS would be simpler:
`"PF(" + ((CommandButton) component).getWidgetVar() + ").enable();";`

@jepsar Regarding confirmation, not sure why there is a special case on this, but you could use `Confirmable#requiresConfirmation` instead

[2020-02-23 18:34] jepsar commented on #760
We don't need an exception on the buttons that require confirmation, but the confirmation buttons (the ones in the dialog).

[2020-02-28 00:42] #760 closed

[2020-03-02 15:09] melloware commented on #760
I tested this morning with PrimeFaces.CSP = true and everything works great with this feature with Content Security Policy enabled.

[2020-03-05 20:44] melloware opened #761 "CommandButtonSingleClick: Problem in Datatable"
If you have a Datatable with a CommandButton in the first column.

[code]

Because in encodeMarkup we are calling button.resolvewidgetVar() it is resolving it incorrectly.

All of the buttons in my table are being rendered with widgetVar :0:

[code]

instead of

[code]

[2020-03-05 21:13] melloware commented on #761
Actually it looks like the oncomplete method gets rendered with the wrong ID where they are a ll button0.

[2020-03-06 12:31] melloware commented on #761
Still debugging couldn't reproduce with simple reproducer.
[pfe-761.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4298325/pfe-761.zip)

[2020-03-06 12:35] melloware commented on #761
OK I was able to reproduce it!
[pfe-761.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4298341/pfe-761.zip)

if you run that sample app and press each button they will all say "button0" in the alert. However if you remove the CommandButtonSingleClick renderer it works fine and each button reports its proper value.

[2020-03-06 15:38] jepsar commented on #761
Originally I was using `PrimeFaces.getWidgetById(domNodeId)`. I need to test if that will work with buttons in tables, but I've not had any issues with that in our application. That would require Javascript though, as we don't know the client's DOM node ID in the renderer.

[2020-03-09 19:16] jepsar commented on #761
Weird.. the rendered `onclick` of button 0:

`PrimeFaces.bcn(this,event,[function(event){var w=PF('widget_j_idt5_tblCars_0_btnActions');if(w){w.disable();};},function(event){PrimeFaces.ab({s:"j_idt5:tblCars:0:btnActions",f:"j_idt5",p:"j_idt5:tblCars:0:btnActions",onco:function(xhr,status,args,data){var w=PF('widget_j_idt5_tblCars_0_btnActions');if(w){w.enable();};alert('j_idt5:tblCars:0:btnActions

[2020-03-09 19:24] jepsar commented on #761
The issue is with prefixing and setting the attributes: https://github.com/primefaces-extensions/core/blob/primefaces-extensions-8.0/src/main/java/org/primefaces/extensions/renderer/CommandButtonSingleClickRenderer.java#L35-L36

[2020-03-09 19:25] melloware commented on #761
Yeah its like its additive.

[2020-03-11 11:24] jepsar opened #762 "Badge is not overflowing on modern themes"
See https://www.primefaces.org/showcase-ext/sections/badge/basicUsage.jsf and switch to Nova Light. Caused by a CSS rule in the theme:

[code]

Not sure why they have that rule, and if we need to file an issue at PF.

[2020-03-11 11:28] melloware commented on #762
Let me file an issue with PrimeTek and see.

[2020-03-11 12:05] melloware commented on #762
If you want to look at fixing it in case PrimeTek comes back and say that is for good reason we might need to fix it on our side.

[2020-03-11 12:20] mertsincan commented on #762
Please try;
[code]

Could you please try the above css code on all browsers?

Best Regards,

[2020-03-11 12:20] melloware commented on #761
Also go to this example in the showcase:
https://www.primefaces.org/showcase-ext/sections/slideout/basicUsage.jsf

You can only click the buttons once.

[2020-03-11 13:56] melloware commented on #762
Closing ticket as PF is going to fix the themes.

[2020-03-11 13:56] #762 closed

[2020-03-11 14:25] jepsar commented on #762
Should we remove the milestone as nothing was done at PFE?

[2020-03-11 14:41] melloware commented on #762
done

[2020-03-11 14:41] jepsar commented on #761
Hmm.. those buttons don't have an action. I'll throw in a check on that as well.

[2020-03-11 15:02] aureliaalessio opened #763 "CKEditor: enable (by default?) browser spellcheck"
Regarding [https://stackoverflow.com/questions/60597507/how-to-enable-browser-spellcheck-in-peckeditor](https://stackoverflow.com/questions/60597507/how-to-enable-browser-spellcheck-in-peckeditor) I am submitting this feature suggestion. Currently enabling browser spellcheck of the text entered into the editor is disabled and can be enabled only via custom config.

You might enable the browser spe

[2020-03-11 15:35] melloware commented on #763
Fixed with commit: https://github.com/primefaces-extensions/core/commit/6f8642416c5ea86b3d6ed751fd0306323005a4f2

New attribute on the CKEditor for disableNativeSpellChecker and I made it "true" by default which matches CKEditor but you can set `disableNativeSpellChecker="false"` on the pe:ckeditor now.

[2020-03-11 15:35] #763 closed

[2020-03-11 19:58] #761 closed

[2020-03-13 16:21] yennor opened #764 "pe:layout: updates don't work properly"
I'm implementing an SPA (single page application) using the pe:layout component.
I'm using Primefaces 8 and Primefaces extensions 8
So the content of the layoutPanes need to be updated using ajax requests while the application runs.
So the whole construct looks more or less like that:
[code]
So now I want to update the center pane. I do that by updating the payoutPane element:
[code]
When I do tha

[2020-03-14 14:47] Theocom opened #765 "InputPhone causes NoClassDefFoundError on deployment due to missing com.googlecode.libphonenumber"
Glassfish 5.1 log:
Source Document: jar:file:/home/..path to../domains/domain1/applications/MyApp/WEB-INF/lib/primefaces-extensions-8.0.jar!/META-INF/faces-config.xml
  Cause: Class 'org.primefaces.extensions.component.inputphone.InputPhoneRenderer' is missing a runtime dependency: java.lang.NoClassDefFoundError: com/google/i18n/phonenumbers/NumberParseException

I'm not using inputphone at all

[2020-03-14 14:51] melloware commented on #765
InputPhone dependency is class loaded by the InputPhoneRenderer so you will probably need to add the JAR to your app to make it classload.

[code]

@jepsar We should probably look at some kind of class loading detection like Primefaces does if certain libs don't exist etc.

[2020-03-14 15:27] Theocom commented on #765
Hi melloware, thanks for the fast reply
Is it possible to remove the input phone element instead? I have a working app on version 7.0 and wanted to check if the 8.0 works without refactoring. I'm only using the fluidgrid, which is created dynamically inside primefaces tabview tabs. After switching to ver 8.0 the whole tabview became unresponsible and i switched back to ver 7.0

[2020-03-14 16:19] jepsar commented on #765
The dependency should be added automatically if you are using Maven (it's not scope provided).

@melloware do you know which component uses the class loading detection you mentioned? I'd like to have a look at it.

[2020-03-14 16:46] melloware commented on #765
Look at this class.
https://github.com/primefaces/primefaces/blob/master/src/main/java/org/primefaces/context/PrimeApplicationContext.java

it uses things to detect if Tika is on the classpath before loading etc.

[2020-03-14 16:48] melloware commented on #765
@Theocom Just add LibPhoneNumber to your WAR or classpath if you want to test 8.0 out.  You can always remove it later when we fix this issue.

[2020-03-14 16:59] jepsar commented on #765
@melloware Looking at https://github.com/primefaces/primefaces/blob/b44a915249d3c9f42014c2b27d8944f1222cb275/src/main/java/org/primefaces/component/texteditor/TextEditorRenderer.java#L63 it seems to me that the tag (renderer) will work as long as all directly imported classes are present. So if we would move the phone number validation to a different class (as done in https://github.com/primefaces

[2020-03-14 18:43] melloware commented on #765
I think you are right. I can give it a shot on Monday if you don’t have time.

[2020-03-14 18:53] jepsar commented on #765
I can have a look. First I'd like to try to reproduce the problem.

[2020-03-14 20:26] melloware commented on #765
Good idea should be able to make the dependency `<optional>true</optional>` in the master-pom.  Rebuild then run the Showcase.

[2020-03-15 09:38] jepsar commented on #765
I was able to test using in a small app

[code]

[2020-03-15 12:21] #765 closed

[2020-03-17 09:08] jepsar commented on #765
@Theocom you could build 8.0.1-SNAPSHOT and use that. See https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Getting-Started#build-from-source (skip the showcase part)

[2020-03-24 11:53] adjiandov opened #766 "Sheet: multiselect with 'ctrl' on numeric cells"
**1) Environment**
PrimeFaces version: 6.2.2
Application server + version: JBoss Wildfly 10.0.0
Affected browsers: all
**2) Expected behavior**
Whenever I try to select several cells with space between them (with 'ctrl') the clicked cells should be marked as selected.
...

**3) Actual behavior**
Whenever a numeric cell is clicked then another numeric cell is clicked while holding ctrl, the first c

[2020-03-24 13:00] melloware commented on #766
Most likely related to this method which handles Numeric cells.

https://github.com/primefaces-extensions/core/blob/06b61bc1f9d8fb291663929fb00fb2ee42e5c6f9/src/main/resources/META-INF/resources/primefaces-extensions/sheet/1-sheet.js#L510-L550

[2020-03-24 16:43] aripddev opened #767 "New component: FuzzySearch"
Hi @melloware ,
I try to implement fuzzysort (https://github.com/farzher/fuzzysort) as PF component. It is a very fast javascript based search component for json data. Other alternatives are Lunr (http://lunrjs.com) and Fuse.js (https://fusejs.io). Do you think that this feature is appropriate for PF extensions?

[2020-03-24 16:46] melloware commented on #767
PF Extensions is meant as a proving grounds for useful components so this seems like a good candidate.

[2020-03-24 16:47] aripddev commented on #767
Since I am not good at creating advanced component, I will need your help. :)

[2020-03-24 16:51] melloware commented on #767
Well the advice i can give is look at a component "like" it in PF or PFE and try to model it after that.

[2020-03-24 17:15] melloware commented on #766
Fixed with commit:
https://github.com/primefaces-extensions/core/commit/946e568d8c8ac40dc8b567c21fadf59ab640e306

You can try adding this Javascript to your page load.
[code]

[2020-03-24 17:15] #766 closed

[2020-03-27 12:15] aripddev commented on #767
I added the component to PFE showcase in local and try to test it using it. Component pages are working well however component itself is not working due to RES_NOT_FOUND (fuzzysort.js and primefaces.fuzzysort.js)? Do you accept commits for PFE showcase?

[2020-03-27 12:24] melloware commented on #767
@aripddev Look at how Calculator works.  the files in resoures are 0-1- 2- 3-calculator.js.

Then in the pom.xml I have this...
[code]
Then in my Component I just reference 1 file called calculator.js
[code]

We combine all JS files in orde rthat is why we use 0- and 1- to order then and they will get put into 1 file.

[2020-03-27 12:25] melloware commented on #767
And yes we accept PR's for Showcase as we will need examples of your new component!

[2020-03-27 15:02] melloware commented on #726
@aripddev Put a comment in this ticket so I can add you as the owner

[2020-03-27 15:53] aripddev commented on #726
Thanks @jepsar for the algorithm

[2020-03-27 17:11] aripddev opened #768 "LetterAvatar: Improvement on long names"
like "Johann Chrysostom Wolfgang Amadeus Mozart"

[2020-03-27 17:16] aripddev opened #769 "LetterAvatar: Missing title attribute"
[code]
is missing

[2020-03-27 18:00] melloware commented on #769
Fixed with commit: https://github.com/primefaces-extensions/core/commit/6dc9d19e7d879fc0ee9d0651951d7ad3a2810d10

[2020-03-27 18:00] #769 closed

[2020-03-27 18:01] melloware commented on #768
Fixed with commit: https://github.com/primefaces-extensions/core/commit/6dc9d19e7d879fc0ee9d0651951d7ad3a2810d10

[2020-03-27 18:01] #768 closed

[2020-03-27 18:01] melloware commented on #726
Fixed with commit: https://github.com/primefaces-extensions/core/commit/6dc9d19e7d879fc0ee9d0651951d7ad3a2810d10

[2020-03-27 18:01] #726 closed

[2020-03-31 13:48] melloware opened #770 "Site: Update reports"
Update the site report docs here: http://primefaces-extensions.github.io/reports/index.html

[2020-03-31 13:52] #770 closed

[2020-03-31 13:55] melloware opened #771 "Global: Fix PMD and Spotbugs issues"
PMD:
http://primefaces-extensions.github.io/reports/pmd.html

SpotBugs:
http://primefaces-extensions.github.io/reports/spotbugs.html

[2020-03-31 14:17] melloware commented on #771
Fixed with commit: https://github.com/primefaces-extensions/core/commit/4861f146cf49989d9d98c6e960f6727113a4b8cb

[2020-03-31 14:17] #771 closed

[2020-04-01 13:55] melloware opened #772 "Update dependencies"
Commons Lang 3.10
Apache POI 4.1.2
Google LibhoneNumber 8.12.1

[2020-04-01 14:11] melloware commented on #772
Fixed with commit: https://github.com/primefaces-extensions/master-pom/commit/8343e0d4a40210f5475596fda5d18a32e55b2f8a

[2020-04-01 14:11] #772 closed

[2020-04-01 14:39] melloware opened #773 "PDF: Switch iText to OpenPDF by LibreOffice"
URL: https://github.com/LibrePDF/OpenPDF

Basically they forked the last know good itext version before it went commercial and have been bugfixing and optimizing since.  The license is friendly and I feel better using an up to date library vs a 10 year old iText 2.1.7

[2020-04-01 14:53] melloware commented on #773
Fixed with commit: https://github.com/primefaces-extensions/master-pom/commit/91c2ef586f0bd700aaf707b7e295c55c0da7fab5

WIKI updated.

[2020-04-01 14:53] #773 closed

[2020-04-02 21:52] aripddev opened #774 "LetterAvatar: Using HTML + CSS to generate it"
Why do we generate an image here? Isn't is easier to generate HTML + CSS? This would also allow customization.

_Originally posted by @jepsar in https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/726#issuecomment-541440958_

[2020-04-02 21:55] aripddev commented on #774
Hi @jepsar ,  Is it that you think?

[code]

[2020-04-02 22:15] melloware commented on #774
Does this work in IE11?  Not that I care that much about IE anymore but check what browsers it works in.  I am all for no image.

[2020-04-03 14:29] aripddev commented on #774
@melloware Do you think that whether it is a good idea to put styles inside `<div style="..."` or use css and js? Any performance issue for large data listing?

[2020-04-03 14:32] melloware commented on #774
i don't think the performance impact will be bad either way.  I prefer to have as much CSS inside the .css file and just reference classes than use inline styles.  Just my preference because the CSS file can be cached by the browser where inline styles need to be rendered every time.

[2020-04-03 17:28] melloware commented on #711
Working on this...
[code]

![image](https://user-images.githubusercontent.com/4399574/78388418-f695e780-75ae-11ea-8a2b-91f9e6d66d01.png)

[2020-04-03 17:46] marcelocaser commented on #711
Wow! a great job @melloware! I can't wait to be able to test it!

[2020-04-03 20:06] melloware commented on #711
@jepsar @aripdev please review the commit of this new component
https://github.com/primefaces-extensions/core/commit/e2dc639feefb9ea3d82f4826465d82e663516661

Attached is a runnable test project to test the component:
[pfe-card.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4429681/pfe-card.zip)

The only disappointing thing is the library's heavy use of `eval

[2020-04-03 20:11] melloware commented on #774
Fixed with commit: https://github.com/primefaces-extensions/core/commit/183a4cf7756307f125f292df03ce9097f6d55d7a

[2020-04-03 20:11] #774 closed

[2020-04-03 21:40] aripddev opened #775 "LetterAvatar: Invert CSS font-color depending on background-color"
Solution to https://github.com/primefaces-extensions/core/pull/101#issuecomment-608584862

There is `mix-blend-mode: difference`

[2020-04-04 11:41] melloware commented on #775
Were you going to submit a new PR for this fix?

[2020-04-04 12:21] melloware commented on #711
Solved the CSP problem!  Had to change webpack to build the JS without eval() statements.  Now the component works with CSP.

[2020-04-04 15:29] marcelocaser commented on #711
some data for the final version?

[2020-04-04 15:43] melloware commented on #711
Probably 8.0.1 in the next 1-2 weeks.  @aripddev is finishing up his FuzzySearch component

[2020-04-04 18:32] melloware commented on #711
OK card is done and showcase example added.

[2020-04-04 18:32] #711 closed

[2020-04-04 18:33] #578 closed

[2020-04-04 19:26] aripddev commented on #775
yesterday I tried twice but cannot submit because of too many conflicts. So I closed PRs. I will try it again after completed fuzzysearch

[2020-04-04 19:44] melloware commented on #775
Yes you need to make a new branch in your fork.  But first you must resync the changes to your fork. I will send you instructions.

[2020-04-04 20:42] melloware commented on #775
To resync your master with all the changes.

`git fetch upstream`
`git checkout master`
`git merge upstream/master`
`git push origin master`

Now your master has the latest code.  Create a new branch now called PFE775 and you can fix just this bug and submit a PR from that branch.

[2020-04-04 22:04] aripddev commented on #775
Thanks @melloware . I submitted PRs for both core and showcase.

[2020-04-05 12:16] melloware opened #776 "License: update to 2020"
update license year to 2020

[2020-04-05 12:24] melloware opened #777 "Formatter: Standardize formatter"
I know we have checkstyle but i would also like to standardize how we format with the Maven Formatter Plugin.

[2020-04-05 12:24] #775 closed

[2020-04-05 12:27] melloware commented on #776
Fixed with commit: https://github.com/primefaces-extensions/core/commit/a23167d398273877055d4966ad06b67b3f8ec340

[2020-04-05 12:27] #776 closed

[2020-04-05 12:46] melloware commented on #777
OK did some improvements.

1. Moved all configurations to `/src/conf/` folder to get them out of the root folder and reduce clutter: https://github.com/primefaces-extensions/core/tree/master/src/conf

2. New file `eclipse-pfe-formatter.xml` which you can port right into Eclipse or if you are not an Eclipse user simply run `mvn formatter:format` to run the formatter against the Java files.

[2020-04-05 12:46] #777 closed

[2020-04-05 12:52] melloware commented on #775
@jepsar @aripddev here is the current showcase screenshot

![image](https://user-images.githubusercontent.com/4399574/78498840-cff4bf80-771a-11ea-8686-ad23ed80f80c.png)

[2020-04-06 18:39] melloware opened #778 "Global: Remove the 'ResourceDependencies' wrapper from annotation group"
Before Java 8 if you needed to use multiple instances of the same annotation, they had to be wrapped in a container annotation. With Java 8, that's no longer necessary, allowing for cleaner, more readable code.

Note that this rule is automatically disabled when the project's sonar.java.source is lower than 8.

**Noncompliant Code Example**
[code]

**Compliant Solution**
[code]

[2020-04-06 18:41] melloware commented on #778
Fixed with commit: https://github.com/primefaces-extensions/core/commit/56ddeef138abf84500d2f383cee43c7333ed7ea3

[2020-04-06 18:41] #778 closed

[2020-04-06 19:19] testing138 opened #779 "CKEditor: EnterMode and ShiftEnterMode"
Hi all,

It would be very very awesome if you can avoid the <p> and </p> tags which will be generated by default from the Editor.

I like the editor, but with this "bug" a cannot use it in my project in some scenarios. I´m currently substring my string in the backend, but this will also not work everytime.

If I google this, many other users have the same issue.
I´ve tried already to create my own

[2020-04-06 19:23] melloware commented on #779
I think i will add 2 new props.

https://ckeditor.com/docs/ckeditor4/latest/features/enterkey.html

"EnterMode" and "ShiftEnterMode" allowing you to control the type but I will default to CKEDITOR.ENTER_P

[2020-04-06 19:42] testing138 opened #780 "New component: Trip.js - ProductTour"
Hi,

It would be very great, if you can add the following component into PFE:

Here is one example, I guess there are also other JS available.
http://eragonj.github.io/Trip.js/

I would need this component to implement a Guide in my webpage, like you maybe know from intercom.
Please see as reference this video: https://www.youtube.com/watch?v=TyWefNd1Tlc

For me it´s also important
- Information c

[2020-04-06 19:42] melloware commented on #779
Fixed with commit: https://github.com/primefaces-extensions/core/commit/758a327ab216af7ccb3cb7ef2de25a341d8b15b0

Will be in 8.0.1 which will be released in the next 1-2 weeks!

[2020-04-06 19:42] #779 closed

[2020-04-06 19:43] testing138 commented on #779
Wow, many many thanks - you made my day!

[2020-04-10 16:14] melloware commented on #723
Just and FYI I am using PrimeFaces Designer to design a new theme and to get TimePicker to look right in new themes I had to add this SCSS to the designer.

[code]

[2020-04-13 11:36] melloware opened #781 "LetterAvatar: Silly Bit Operation?"
@jepsar I spent the weekend cleaning up ALL the SonarCube issues in PFE.  One that I wasn't quite sure about because I am still unclear of that they say is a problem is this issue about "Silly bit operation."

https://sonarcloud.io/project/issues?id=org.primefaces.extensions%3Aprimefaces-extensions&issues=AXFBrXbOtIjK72HY-tIP&open=AXFBrXbOtIjK72HY-tIP

Can you look?

[2020-04-13 18:02] #781 closed

[2020-04-16 16:54] melloware commented on #767
Some notes on your showcase example.  It doesn't show them being styled as these styles...
[code]

don't exist?   The fuzzysort example i think should also be provided as an "Advanced Example"

https://rawgit.com/farzher/fuzzysort/master/test.html

[2020-04-16 17:03] melloware commented on #767
Also my IDE is reporting that `buttonStyle` is never used in the code. Can you confirm?

[code]

[2020-04-16 19:31] aripddev commented on #767
I did not implement highlighting, and yes buttonStyle is not used.

[2020-04-18 09:41] jepsar opened #782 "Badge: apply to LetterAvatar"

[2020-04-18 14:34] melloware commented on #767
OK I added highlighting as a new attribute.  Updated Showcase example.  Also added a new example of searching Timezones which are just Strings with no converters.

Also got the Input box styled to match PF theme.

[2020-04-18 14:34] #767 closed

[2020-04-18 14:35] #782 closed

[2020-04-18 14:44] melloware commented on #782
I added a LetterAvatar badge example to the Badge showcase.

[2020-04-18 16:45] jepsar commented on #782
Oh, I was going to add it. I wasn't expecting the PR to be merged already. :-)

[2020-04-18 17:04] jepsar opened #783 "LetterAvatar allow optional graphicImage as child"

[2020-04-19 12:40] #783 closed

[2020-04-19 13:00] melloware opened #784 "JQuery 3.5.0 Preparation"
jQuery 3.5.0 has been released with a security fix:
https://blog.jquery.com/2020/04/10/jquery-3-5-0-released/

So the biggest change for security reasons Jquery not longer allows you to do..
[code]
It used to autocomplete for you but now they force you to have proper closing tags on any HTML like..
[code]

Linked to: https://github.com/primefaces/primefaces/issues/5807

[2020-04-19 13:02] melloware commented on #784
@jepsar please review.

Fixed with this commit: https://github.com/primefaces-extensions/core/commit/b030e14901b91982355dc5e157c2d84bba070711

I tested the components I touched in the showcase and everything seems to be working fine.

[2020-04-19 13:02] #784 closed

[2020-04-19 16:08] jepsar commented on #784
Looking good to me

[2020-04-19 21:17] aripddev opened #785 "New component: Counter"
https://github.com/inorganik/CountUp.js

CountUp.js is a dependency-free, lightweight Javascript class that can be used to quickly create animations that display numerical data in a more interesting way.

Despite its name, CountUp can count in either direction, depending on the start and end values that you pass.

CountUp.js supports all browsers. MIT license.

[Demo](https://inorganik.github.io/c

[2020-04-20 10:17] aripddev commented on #785
Hi @melloware almost finished the component, but getting an error even I set `endVal` property as `Number`
[code]

Here my code snippets are
[code]

[code]

[code]

[code]

However when I manually give a default number to `endVal`, let say 10000
[code]
and no attribute to use default ones
[code]
it works perfect. Any idea?

[2020-04-20 10:43] aripddev commented on #785
Solved it when I changed it to `Integer`. But not sure how to make it for `Double`.

[2020-04-20 11:08] melloware commented on #785
Integer and Double both should have built in Converters.  Number is just an interface so it does not have a built in converter.

[2020-04-20 11:16] aripddev commented on #785
Ok, I will continue with Integer then.

[2020-04-20 11:19] melloware commented on #785
Why not go Double?  Since I used the ReactJS version of this component to count up a money quote.

[code]

[2020-04-20 11:39] aripddev commented on #785
:) you are right

[2020-04-20 11:43] aripddev commented on #785
I have just figured out that it Is possible to make countDown also by changing `startVal=9000` and `endVal=0` attributes. So do I need to keep the tag name as `countUp`?

[2020-04-20 11:44] melloware commented on #785
Let's call it `Counter`

[2020-04-20 18:49] aripddev commented on #785
It is completed. I have sent PR for showcase as well.

[2020-04-20 23:18] melloware commented on #785
OK start and end AJAX events added and showcase example updated.

[2020-04-20 23:18] #785 closed

[2020-04-21 20:15] melloware opened #786 "CommandButtonSingleClick: values of attributes without ValueExpression are incorrect"
@jepsar Go to the showcase here: https://www.primefaces.org/showcase-ext/sections/blockui/blockUIAjax.jsf

Click the "Add Message" button and blockUI will run until ajax completes and then block ui will unblock.

Now run the same test localhost which has CommandButtonSingleClickRenderer and you will notice the oncomplete is never called. In fact if you look in the View Source HTML the oncomplete i

[2020-04-22 12:38] melloware opened #787 "DocumentViewer: Enable digital signature viewing"
Based on this stack overflow post: https://stackoverflow.com/questions/61349395/pedocumentviewer-not-displaying-digital-signatures-in-pdf

There is still an open PDF.js ticket: https://github.com/mozilla/pdf.js/issues/1076

However we can enabled viewing but not signing if we change...
[code]

to...
[code]

[2020-04-22 13:49] melloware commented on #787
I tried ths and it doesn't work.  Right now this service is the only way to see digital signatures.

https://verify.ink/

[2020-04-22 13:49] #787 closed

[2020-04-22 19:06] #786 closed

[2020-04-26 11:17] pauloalexandre3d opened #788 "CustomExporterFactory stopped work in version 8.0."
Hi,

Last week we updated version from 6.2 to 8.0 and my
`public class CustomExporterFactory implements ExporterFactory` stopped work. And now I got this exception:

`java.util.ServiceConfigurationError: org.primefaces.extensions.component.exporter.ExporterFactory: my.package.CustomExporterFactory not a subtype`

I have my.package.CustomExporterFactory configured under src/META-INF/services/org.pr

[2020-04-26 12:14] melloware commented on #788
I suggest reviewing our example: https://www.primefaces.org/showcase-ext/sections/exporter/customExporter.jsf

The source code can all be found here: https://github.com/primefaces-extensions/showcase

See this class: https://github.com/primefaces-extensions/showcase/blob/master/src/main/java/org/primefaces/extensions/showcase/util/CustomExporterFactory.java

Notice the class extends 'org.primeface

[2020-04-26 23:44] pauloalexandre3d commented on #788
Hi @melloware,

Thank you very much.

[2020-04-26 23:44] #788 closed

[2020-04-28 18:45] melloware commented on #711
8.0.1 is now in Maven Central if you want to give this component a shot @marcelocaser

[2020-04-28 18:46] melloware commented on #779
8.0.1 is now in Maven Central

[2020-04-28 18:46] melloware commented on #763
8.0.1 is now in Maven Central

[2020-04-28 19:11] melloware opened #789 "Counter: Remove ECMASCRIPT6 Notation"
Turns out some ECMASCRIPT6 has caused PF 8.0.1 to be hosed. So I have to cut 8.0.2.

[2020-04-28 19:12] melloware commented on #789
Fixed with commit: https://github.com/primefaces-extensions/core/commit/4f9a50d940dbf09c742cf70ee557b154a38e67b4

[2020-04-28 19:12] #789 closed

[2020-04-28 19:31] melloware commented on #711
Sorry make that 8.0.2. Found a bug

[2020-04-28 23:22] aripddev opened #790 "CreditCard: required attribute not working"
I have added `required="true"` for cardNumber, cardHolderName, expire and cvc inputs, but it does not trigger `messages` or `growl`.

<img width="697" alt="Screen Shot 2020-04-29 at 02 18 47" src="https://user-images.githubusercontent.com/9448030/80547069-f1666580-89bf-11ea-8849-0d048688dbb4.png">

[2020-04-29 11:18] marcelocaser commented on #711
thanks a lot @melloware

[2020-04-29 11:19] melloware commented on #790
You are right. Reproducible test case:
[pfe-790.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4551331/pfe-790.zip)

it looks related to having to to use the `pt:name` is no longer binding it to the component.

[2020-04-29 11:26] melloware commented on #790
Yuck looks like this is the problem:
https://stackoverflow.com/questions/15893876/how-to-specify-name-attribute-in-hinputtext

So using `name="cvc"` etc allow browsers to know these are autocomplete fields let the browser fill in your CC info and that is how Card.js default looks for those fields.   However JSF needs the `name` field to bind to the backend.

Have to think about this...

[2020-04-29 11:32] melloware commented on #790
OK got it working with this example:
[pfe-790.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4551379/pfe-790.zip)

You have to use `prependId="false"` on the form and make the id's the names instead of using passthrough.

[code]

[2020-04-29 11:40] melloware commented on #711
@marcelocaser make sure to read this thread: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/790

[2020-04-29 12:16] aripddev commented on #790
Well done 👍, thanks

<img width="713" alt="Screen Shot 2020-04-29 at 15 15 06" src="https://user-images.githubusercontent.com/9448030/80594735-3d4ef400-8a2c-11ea-8d67-674e706fe36c.png">

[2020-04-29 12:16] #790 closed

[2020-04-29 12:23] melloware commented on #790
awesome

[2020-04-29 13:14] marcelocaser commented on #711
yes!! thanks!! great job!

[2020-04-29 17:26] aripddev opened #791 "CreditCard: Card image lost after validation not passed"
Card image has been lost after validation not passed any form items. Below is the picture of before and after form submission.

<img width="697" alt="Screen Shot 2020-04-29 at 20 22 44" src="https://user-images.githubusercontent.com/9448030/80626567-4f925780-8a57-11ea-9038-b6e1a948829d.png">

[2020-04-29 23:33] melloware commented on #791
Fixed with commit: https://github.com/primefaces-extensions/core/commit/ca45110c43737823e0573caeeae4083ce8b7961c

If you need this fix now here is a MonkeyPatch you can add to your JS file that fixes it.

[code]

[2020-04-29 23:33] #791 closed

[2020-04-30 20:54] eduarddrenth opened #792 "Sheet: issue after <f:ajax render="@all"/>"
pf 801 extensions 8.0

The following javascript problem occurs after render @all:
[code]

workaround: ```<p:ajax update="...." onsuccess="location.reload()"/>```

perhaps not a problem in extensions 8.0.1 anymore, did not test yet

[2020-04-30 21:00] melloware commented on #792
Try 8.0.2. Had a bug in 8.0.1

[2020-04-30 21:01] melloware commented on #792
PFE 8.0.2 that is.

[2020-04-30 21:07] eduarddrenth commented on #792
just tried 8.0.2, same issue. I'll do a refresh, prefer render @all though because it gives a less jerkey effect.

trace in 8.0.2:

[code]

[2020-04-30 21:30] melloware commented on #792
Ok I will look into it. I added a method to clean up the sheet in 8.0. So that is probably the issue. I know how to fix it.

[2020-04-30 21:55] melloware commented on #792
Can you try this JS snippet.
[code]

[2020-04-30 22:10] eduarddrenth commented on #792
trying....

[2020-04-30 22:14] eduarddrenth commented on #792
That works, tested with 8.0.2. Error gone and sheet keeps working

I do have another console error that might not be related:

[code]

[2020-04-30 22:57] melloware commented on #792
XML parsing error does not look like its from PFE but let me know if you figure it out.

[2020-04-30 22:59] melloware commented on #792
Fixed with commit: https://github.com/primefaces-extensions/core/commit/e6e03cc9ba8fefc68687dba71dc08abae532d2d7

[2020-04-30 22:59] #792 closed

[2020-04-30 23:04] melloware opened #793 "Layout: Upgrade to 1.7.4"
Fixed all deprecations for Jquery 3.5.0.
See: https://github.com/GedMarc/layout/issues/12

[2020-04-30 23:11] melloware commented on #793
Fixed with commit: https://github.com/primefaces-extensions/core/commit/f956e181f2e41b7274c4afdddd8b6bc4f9c9aa59

[2020-04-30 23:11] #793 closed

[2020-05-01 05:58] eduarddrenth commented on #792
thnx

[2020-05-01 06:40] maniratna2019 opened #794 "unable to add custom css in pe:gChart"
- PrimeFaces version: 6.0.0
- PrimeFaces Extensions:6.1.1

GChartModelBuilder chartBuilder = new GChartModelBuilder();
chartBuilder.setChartType(GChartType.PIE);
chartBuilder.addColumns("Topping", "Slices");
chartBuilder.addRow("Sleep", 7);
chartBuilder.addRow("Work", 6);
chartBuilder.addOption("pieSliceText", "value");
chartBuilder.addOption("tooltip", "{isHtml: true, text:'value'}");
chartBuilde

[2020-05-01 09:15] #794 closed

[2020-05-01 09:15] maniratna2019 commented on #794
i got the answer https://stackoverflow.com/questions/61492942/how-to-show-absolute-value-in-tooltip-in-a-pegchart

[2020-05-01 11:25] melloware commented on #794
Thanks I will update my Showcase example to help future people as well.

[2020-05-15 10:34] mauromol commented on #436
@melloware why not using `org.primefaces.model.StreamedContent.getName()` to get the document name, just like `p:fileDownload` does?? It sounds redundant to me to have to specify the name again in `download` attribute...

[2020-05-15 10:41] mauromol opened #795 "DocumentViewer: can't specify a StreamedContent through a method call"
If I try to specify the `value` of a `pe:documentViewer` as a method call like this (note: that method returns a `StreamedContent`):

[code]

I get an exception:

[code]

Why this limitation? The same `value` works fine with `p:fileDownload`.

[2020-05-15 12:04] melloware commented on #436
I think I can do this. Create a new ticket please.

[2020-05-15 13:07] melloware commented on #795
My guess is it is something wrong with how value is being decoded.  I will investigate.

[2020-05-15 13:15] mauromol opened #796 "DocumentViewer: take file name from StreamedContent"
See https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/436#issuecomment-629162285

When using the `pe:documentViewer` with a `StreamedContent` instance, you have to use the `download` attribute to specify the file name.
This is completely unexpected: `StreamedContent` has `org.primefaces.model.StreamedContent.getName()` whose purpose is exactly to provide the file nam

[2020-05-15 15:57] melloware commented on #795
I think the problem lies here: `org.primefaces.util.DynamicContentSrcBuilder.build`

https://github.com/primefaces/primefaces/issues/5902

[2020-05-15 16:44] melloware commented on #796
Fixed with commit: https://github.com/primefaces-extensions/core/commit/27e2dd0725390478aac933ed7d6095b1b05ded6d

[2020-05-15 16:44] #796 closed

[2020-05-15 16:58] mauromol commented on #796
I just had a quick look at your commit, but isn't it giving precedence to `StreamedContent.getName()` over the `download` attribute value? If so, I think the `download` attribute value becomes completely useless. I would use the `download` attribute value if non-null and non-empty, otherwise the `StreamedContent.getName()`.

Or else, remove the `download` attribute as a whole, but you'll break bac

[2020-05-15 17:01] melloware commented on #796
I looked at `DynamicContentSrcBuilder` and it does this...

[code]

So it looks like build can take a String url, a StreamedContent, or a Base64 byteArray.  I didn't want to make that assumption that is why i originally made it a `download` param.   So this way ONLY if your type i a StreamedContent will I use the name.

[2020-05-15 17:10] mauromol commented on #796
Ok, I trust you, I just saw the following code in your commit:

[code]

This code seems to suggest `streamedContent.getName()` is used whenever `value instanceof StreamedContent`, disregarding `documentViewer.getDownload()` completely.
For me it's fine, it's just breaking backward compatibility. Also, documentation says that `download` attribute is: "If streamed content this will be the name of th

[2020-05-15 17:11] melloware commented on #796
right but your point was if you are providing a StreamContent you should use the file name of that streamed Content no?

[2020-05-15 17:27] melloware commented on #795
Marking as WontFix for the reason given the upstream PrimeFaces answer in primefaces/primefaces#5902

[2020-05-15 17:27] #795 closed

[2020-05-15 18:09] mauromol commented on #796
My point was: the `StreamedContent` already carries a name, why am I forced to supply one with the `download` attribute? I should not be forced to do that. #436 says this.

OK for me, but then the documentation should be fixed, because it says exactly the opposite.

[2020-05-15 18:17] melloware commented on #796
Documentation and Taglib fixed: https://github.com/primefaces-extensions/core/commit/00a6f28e51b5d788394ddada479ab30180c8873b

[2020-05-19 19:12] jepsar opened #797 "Content: new component"

[2020-05-19 19:13] Rapster commented on #797
Any example?

[2020-05-19 19:23] jepsar commented on #797
We have several applications where we need to output larger blocks of HTML text which can differ per context / country, which we have multiple languages of and can fallback to a default context and language. Message bundles just was not the tool for the job. As I could not find any existing tools I decided to create a component.

[2020-05-20 12:48] #797 closed

[2020-05-22 17:13] oumyka opened #798 "Clipboard : not able to copy text with newline"
Hello. When there's a line break in my text only the first line gets copied. Any way to overcome this? Thanks

[2020-05-22 17:20] melloware commented on #798
Can you paste example XHTML please?

[2020-05-22 18:09] melloware commented on #798
I found this solution at the bottom of their page: https://github.com/zenorocha/clipboard.js/issues/92

[2020-05-24 15:20] oumyka commented on #798
Hey. I don't know why I can't reproduce the same behavior anymore. But it's still not working with newlines :

XHTML :

`<p:commandButton id="btnCut" value="Copier dans le presse papier"
		icon="fa fa-cut" styleClass="cart-button" onclick="return false;" />
	<pe:clipboard id="clipboard" trigger="btnCut" action="copy"
		text="#{fooManagedBean.clipboardContent}">
	</pe:clipboard>`

Bean :

`	public

[2020-05-24 15:33] melloware commented on #798
Hmm if I do this right in the page it works.
[code]

Can you look at the View Source of page and see what text is being send from your server for `text="#{fooManagedBean.clipboardContent}"`

[2020-05-24 15:37] oumyka commented on #798
When you paste do you get formatted text? Like below?

PrimeFaces Clipboard
Rocks Ajax!

I doesn't work for me I get the same text copied litteraly with \n in the middle.

[2020-05-24 16:56] oumyka commented on #798
`<script id="calendrierForm:tabView:clipboard_s" type="text/javascript">PrimeFaces.cw("ExtClipboard","widget_calendrierForm_tabView_clipboard",{id:"calendrierForm:tabView:clipboard",action:"copy",trigger:"calendrierForm:tabView:btnCut",text:"Jeu [details jeu 1]
Jeu [details jeu 2]"});</script>`

[2020-05-24 17:35] melloware commented on #798
Oh yes I get "\n" your statement above says "When there's a line break in my text only the first line gets copied." and "he button doesn't copy anything at all.".

I was getting the exact copied text with a quick test. So I think you need to be more clear about exactly what is happening.

[2020-05-24 17:40] oumyka commented on #798
Sorry for the confusion. I did say in my first reply that I can't reproduce the same behavior anymore.

I'm getting a new behavior today which is button not working at all when I use System.lineSeparator() in my text.

 I, too, get a literal "\n" when using your code but that's not what I was hoping for.

[2020-05-25 11:45] melloware commented on #798
Instead of System.lineSeparator have you tried using `&#xa;` which is HTML Unicode for newline.

[2020-05-26 16:17] melloware commented on #798
OK I just wrote this test and it works fine and when I copied and pasted it had the proper line break.
[code]
[code]

So I can't reproduce your issue with PFE 8.0.2 and PF 8.0.

[2020-05-26 16:17] #798 closed

[2020-05-26 16:47] melloware opened #799 "Timer: Optimize JS and add 'title' attribute"
Doing a code review of timer i realized the JS needs some optimization and cleanup.

[2020-05-26 16:58] melloware commented on #799
Fixed with commits:
https://github.com/primefaces-extensions/core/commit/ac83734909e6370f247c4d3c5093669e06f2433e#diff-25d902c24283ab8cfbac54dfa101ad31

https://github.com/primefaces-extensions/core/commit/660f7605917790e01ada4945eec6af5c8792cded#diff-25d902c24283ab8cfbac54dfa101ad31

[2020-05-26 16:58] #799 closed

[2020-05-26 17:35] melloware opened #800 "Clipboad: Update 2.0.6"
Update clipboard from 2.0.4 to 2.0.6

[2020-05-26 17:35] melloware commented on #800
Fixed with commit: https://github.com/primefaces-extensions/core/commit/332226e60db4586e90c1ec4625ec651101d2c4da

[2020-05-26 17:35] #800 closed

[2020-06-25 12:19] rider87 opened #801 "FAB: AJAX listeners"
Hi,

As described in the forum:
https://forum.primefaces.org/viewtopic.php?f=14&t=62468

How can I invoke a listener method for the p:ajax events?**
I´ve tried this, but this is not working

[code]

[2020-06-25 12:22] melloware commented on #801
@jepsar want to look at this one?

[2020-06-25 12:33] melloware commented on #801
Actually @rider87 can you open another ticket. I think we should track the AJAX Open and Close as 1 issue and the FAB+Badge as another issue.

[2020-06-25 12:35] rider87 opened #802 "FAB and Badge not working together"
Hi,

As described in the forum:
https://forum.primefaces.org/viewtopic.php?f=14&t=62468

I´m using the pe:fab and pe:badge on right top corner...**
I tried this, but it´s always only showing after the pe:fab:

`<pe:fab id="btnFab" icon="fa fa-question" iconActive="fa fa-times"
		style="background: green;">
	</pe:fab>
		<pe:badge content="1" for="btnFab"  position="top-right"/>`

[2020-06-25 13:53] jepsar commented on #801
Yeah, I can have a look. I might have time this weekend (depending on the weather).

[2020-06-25 13:56] jepsar commented on #802
Probably because of the absolute positioning of the FAB. @melloware I can also have a look at this if you like.

[2020-06-25 13:57] melloware commented on #802
@jepsar You take this one and i will take the other one.

[2020-06-25 14:12] melloware commented on #801
Fixed with commit: https://github.com/primefaces-extensions/core/commit/2e3b9d3b9d7f3cd10d02842aa942fdab9b5d0168

Will be in version 8.0.3. @rider87 thanks for reporting!

[2020-06-25 14:12] #801 closed

[2020-06-26 10:38] tandraschko opened #803 "Avoid GSON"
Currently if you add pfe, you always get GSON as dependency.
Actually its only used for some component and should be optional.
We should try to use PF JSON or JSONB

[2020-06-26 10:40] tandraschko opened #804 "Try to avoid commons-lang usage"
Most of the time utils like StringUtils are used, which are already available in PF core. Use them instead common-langs

Maybe we can reven remove the dependency.

[2020-06-26 12:45] tandraschko commented on #804
Replaced commons-lang by ~60 LOC

@melloware the only usage left is StringEscapeUtils. Can we remove this taglib functions (never used it but introduced it ;)) ? or can we reuse the owas escape stuff from PF core?

[2020-06-26 12:46] melloware commented on #804
Yep I think we can replace with OWASP EscapeUtils.

As for JSON can't we do something similar as PF and use the JSONObject instead of GSON?

[2020-06-26 12:48] tandraschko commented on #804
would you take care of the Owasp EscapeUtils thing?
i will check JSON now

[2020-06-26 12:49] melloware commented on #804
yep! on it.

[2020-06-26 13:08] tandraschko commented on #803
switched the fuzzySearchRendererd to PF JSON. Dont time for now to further work on it.
If someone has time, feel free... :D

[2020-06-26 13:38] melloware commented on #804
OK I removed all Commons Lang and switched it to `test` scope in the pom.xml because some unit tests were using it.  so now it will no longer automatically be downloaded by PFE.  Thanks for working on this!

[2020-06-26 13:38] #804 closed

[2020-06-26 13:38] melloware commented on #803
I will work on it.

[2020-06-26 13:40] tandraschko commented on #804
what about that taglib functions?

[2020-06-26 13:47] melloware commented on #804
let me look at those. I didn't even realize they were there.  Maybe we should remove them?

[2020-06-26 13:50] tandraschko commented on #804
yeah, thats what i said 2 posts earlier here :D
i would remove them and add a migration guide hint to add them in the application manually (commons lang + the taglib entry)

[2020-06-26 13:51] melloware commented on #804
Sorry i missed that I will remove them.

[2020-06-26 16:38] melloware commented on #803
OK I have made all the changes and marked GSON as `optional=true` dependency.  its only used in 3 components JsonConverter, Layout, and GChart.

I will update the release notes to reflect this but now PF Extensions successfully has no dependencies just like PF and I was able to deploy a PrimeFaces test app successfully proving it.

[2020-06-26 16:38] #803 closed

[2020-06-26 18:39] #802 closed

[2020-06-27 07:19] tandraschko commented on #803
is it to much work for the other components to switch?

[2020-06-27 11:18] melloware commented on #803
Well it seems they re using GSON specific features such as Date Conversion to a certain format and something called GSonTree which doesn't translate 1-1 with JSONObject.  So we would probably have to re-engineeer all of them to have custom objects to serialize.

[2020-06-30 08:07] arunvc opened #805 "Calculator: digits after comma is lost in calculator pop up"
**Describe the bug**

The digits after the the comma is lost in calculator pop up

![image](https://user-images.githubusercontent.com/9069988/86100700-d22aa800-bad6-11ea-8dde-3d593e604586.png)

**Environment:**
 - PF Version: _8.0_
 - JSF + version: _e.g. Mojarra 2.2.8 or MyFaces 2.3.6_
 - Affected browsers: _e.g. Firefox, Ubuntu, ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ht

[2020-06-30 09:54] arunvc opened #806 "Calculator: RTL or right align digits are not displayed on main text"
**Describe the bug**
RTL or right align  digits are not displayed on main textbox

![image](https://user-images.githubusercontent.com/9069988/86112209-4d935600-bae5-11ea-8bbf-089a78487f6c.png)

**Environment:**
Showcase https://www.primefaces.org/showcase-ext/sections/calculator/localization.jsf

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.primefaces.org/showcase-ext/sec

[2020-06-30 11:36] melloware commented on #805
I can't reproduce:
![image](https://user-images.githubusercontent.com/4399574/86121663-67607900-baa4-11ea-89ed-7b172c5897b7.png)

[2020-06-30 11:37] melloware commented on #806
Also can't reproduce:
![image](https://user-images.githubusercontent.com/4399574/86121753-95de5400-baa4-11ea-9325-5928e8baa3e3.png)

[2020-06-30 12:48] arunvc commented on #806
See the typed text is not visible in the textbox where i am typing, it appears only on the calc popup,
Where as when its left aligned i can see my typed text on both textboxes

check this video
[sample.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4851894/sample.zip)

[2020-06-30 12:52] arunvc commented on #805
After entering an amount click the calc icon the digits after coma is lost.

Check this out
[comma.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/4851914/comma.zip)

[2020-06-30 12:57] melloware commented on #805
OK that video helps me see it.

[2020-06-30 12:59] melloware commented on #806
This one works for me the same in RTL as LTR.  AS I am typing it only ever enters the main input text when I press the "use" button on the calculator.

Your video is exactly what mine is doing in RTL or LTR?

[2020-06-30 13:00] melloware commented on #806
If you want it to accept your typing use "InputNumber" instead of "InputText" like in the basic example.

[2020-06-30 14:13] melloware commented on #805
OK this is fixed in 8.0.3 with commit: https://github.com/primefaces-extensions/core/commit/2ef725d15509690683b47611a340d3d2fa75c005

[2020-06-30 14:13] #805 closed

[2020-06-30 14:14] melloware commented on #806
OK this is fixed in 8.0.3 with commit: https://github.com/primefaces-extensions/core/commit/2ef725d15509690683b47611a340d3d2fa75c005

this makes InputNumber and InputText behave the same.  You have to use "Use" button before the value is displayed on the main input.

[2020-06-30 14:14] #806 closed

[2020-07-08 09:32] jepsar opened #807 "Badge: compatibility with PF themes"
See for example: https://primefaces.org/diamond/misc.xhtml

There the HTML for a button with a badge is:

[code]

To do so, I think we need to change from:

[code]

to:

[code]

I'm not sure if this makes much sense... I guess it depends on what the plans with the badge will be in terms of the basic templates. Because the only reasons to use this component is that the styling is included. If styli

[2020-07-10 18:27] melloware opened #808 "Layout: Upgrade to 1.8.4"
This fixes an issue where it does a cookie test every time triggering a warning in the browser.

https://github.com/GedMarc/layout/issues/17

[2020-07-10 18:29] melloware commented on #808
Fixed with commit: https://github.com/primefaces-extensions/core/commit/c6fad89d2cbd2c6bbaa3cb5a0b61f41e93990cf0

[2020-07-10 18:29] #808 closed

[2020-07-14 10:06] jepsar opened #809 "InputPhone does not flex when inside a ui-fluid classed element"

[2020-07-14 11:40] #809 closed

[2020-07-17 14:04] cfhuch opened #810 "CKEditor: XSS Issue"
Hi,

We had a penetration testing of our application using Primefaces Extensions 7.0.3 (with CKEditor 4.11.2) and got this finding:

[2020-07-17 14:29] melloware commented on #810
Thanks @cfhuch let me see if I can upgrade it for 8.0.4+.  This component is complex and upgrading it has been tricky in the past so wish me luck!

[2020-07-17 16:49] melloware commented on #740
Added MathJAX plugin in 8.0.4 see commit: https://github.com/primefaces-extensions/resources-ckeditor/commit/e9f7cc8673a87300ec8be9904dca7044c1480054

[2020-07-17 16:50] melloware commented on #810
Upgraded to 4.14.1 with commit: https://github.com/primefaces-extensions/resources-ckeditor/commit/e9f7cc8673a87300ec8be9904dca7044c1480054

[2020-07-17 16:50] #810 closed

[2020-07-17 17:12] melloware commented on #740
Oh and I also fixed your images/loader.gif issue reported in the original issue.

[2020-07-17 17:46] Kalmaasaly commented on #740
Good Job
bye the way I implemented MathJax in resources-ckEditor old version

[2020-07-21 07:53] fheldt opened #811 "Component: MasterDetail / ExtLangUtils"
**Bug description**
After switching from V8.0.2 to V8.0.3 I get a NPE in the MasterDetail component.

SEVERE [javax.enterprise.resource.webcontainer.jsf.application] (default task-3399) Error Rendering View[/xxx/yyy.xhtml]: java.lang.NullPointerException
        at deployment.gm-portal-ear.ear.gm-portal-web.war//org.primefaces.extensions.util.ExtLangUtils.contains(ExtLangUtils.java:31)
        at

[2020-07-21 11:50] melloware commented on #811
Thanks its fixed for 8.0.4!

Commit: https://github.com/primefaces-extensions/core/commit/fb90483c8409d21f22d7462c14939d19c7b3b1cf

[2020-07-21 11:50] #811 closed

[2020-07-28 07:17] jepsar opened #812 "New component: code scanner"
Based on https://github.com/serratus/quaggaJS

[2020-07-28 11:37] jepsar commented on #812
He states it's still work in progress.. I guess the safest this would be using the existing project and then at some point migrate when version 2 is released.

[2020-07-28 16:10] melloware commented on #810
8.0.4 is now in Maven Central

[2020-08-06 11:41] melloware commented on #639
Fixed in HandsonTable 8.0.0 which we can't use... See: https://github.com/handsontable/handsontable/issues/5871

[2020-08-06 11:41] #639 closed

[2020-08-06 12:50] eduarddrenth commented on #639
That's a pitty... "can't use" as in licensing issues? Or api redesign?

[2020-08-06 12:52] melloware commented on #639
License. We are stuck on 6.2.2 it is their last MIT licensed based version.  Everything after that is commercial license only.

[2020-08-07 09:27] eduarddrenth commented on #639
ok....what about the future of the sheet extension? For oat.hisgis.nl it is a crucial component. Perhaps we should further discuss this offline.

[2020-08-07 11:30] melloware commented on #639
We can chat on the PF Extensions Gitter if you would like?
https://gitter.im/primefaces-extensions/primefaces-extensions

[2020-08-23 17:00] jepsar opened #815 "CodeScanner: add start, stop functionality"
Add (auto)start attribute and start and stop functions to widget

[2020-08-24 13:02] #815 closed

[2020-08-24 17:13] jepsar opened #816 "CodeScanner: add result Javascript listener attributes"

[2020-08-24 19:13] #816 closed

[2020-08-25 07:12] jepsar opened #817 "CodeScanner: add video and deviceId attributes"

[2020-08-25 13:00] #817 closed

[2020-08-26 07:56] jepsar opened #818 "CodeScanner: add for (component) attribute"

[2020-08-26 08:53] tandraschko opened #819 "PrimeFaces 9.0"
i need a preview build so i will migrate to 9.0 now

[2020-08-26 11:16] #818 closed

[2020-08-26 11:37] melloware commented on #819
Thanks I just bumped all the pom.xml to 9.0-SNAPSHOT

[2020-08-26 11:38] melloware opened #820 "Layout: Use PrimeFaces.createStorageKey()"
PF 9.0 has a `PrimeFaces.createStorageKey` for creating a more unique cookie or local storage name.  Use this in Layout where it used to create a cookie name.

[2020-08-26 11:44] #820 closed

[2020-08-26 14:56] jepsar opened #821 "InputPhone: bump intl-tel-input to 17.0.0"

[2020-08-26 15:13] melloware opened #822 "Multiple: Update to AbstractPrimeHtml components"
See: https://github.com/primefaces/primefaces/pull/6254

Update the following components once that PR is merged:

- [x] CodeMirror
- [x] CKEditor
- [x] InputPhone
- [x] TimePicker

[2020-08-26 15:17] #821 closed

[2020-08-26 15:38] #822 closed

[2020-08-26 15:41] #819 closed

[2020-08-26 17:24] #742 closed

[2020-08-26 18:28] #444 closed

[2020-09-18 11:16] imnotscott commented on #718
Greetings!

I have an issue similar to the op but my scenario is a little bit different.  I am using document viewer to display a PDF report.  When the page loads, the document viewer is not rendered. The user supplies some report filter criteria and clicks a submit button, then the PDF is created and the document viewer is rendered.  This is all working great but I have the same requirement to hi

[2020-09-18 11:22] melloware commented on #718
This should be pretty easy can you paste your Submit button code where you actually call to render to the DocumntViewer?  Can you paste it here?

[2020-09-18 11:25] scott-abernethy66 commented on #718
The xhtml for the submit is here:

<h:panelGrid columns="4">
                            <p:commandButton id="submit_button"
                                             value="#{labels['screen.submit']}"
                                             action="#{inspectionHistoryReportMB.submit}"
                                             update="inspectionHistoryReport_messages @form"

[2020-09-18 11:35] melloware commented on #718
OK in your submit button add...
[code]
which will execute once your AJAX request is complete. Then in your hidePdfButton use a "delay" because the DocViewer PDF is still rendering the buttons might not be there yet

[code]
You can tweak the 1500 as that is 1.5 seconds as per whatever you need for load time.

[2020-09-18 11:45] scott-abernethy66 commented on #718
This works perfectly. Thank you!

[2020-09-18 11:53] melloware commented on #718
Glad I could help

[2020-11-09 16:31] Exandra opened #823 "CommandButtonSingleClick: Bloats DOM by appending JavaScript code (DataTable)"
**Describe the bug**
The CommandButtonSingleClick renderer appends new JavaScript code to the existing JavaScript code on each update. This increases the size of the DOM tree, and subsequently the data transmitted over the network, continually.

This behavior results, on complex pages, after a short while in multiple megabyte data per update/click.

**Environment:**
 - PF Version: 8.0.3
 - JSF + v

[2021-03-29 01:27] anuragnz opened #824 "Code scanner component"
How to set the device Id for rear facing camera? I mean how do we know the device id for rear facing camera in Android or iPhone?

[2021-07-07 11:44] KarlKnapp commented on #605
using:

[code]

instead of

[code]

works for me.

[2021-07-07 11:47] melloware commented on #605
Nice work @KarlKnapp !

[2022-01-18 09:15] StevenHachel opened #825 "Uncaught TypeError: v is undefined"
**MOVED**
Issues have moved here: https://github.com/primefaces-extensions/primefaces-extensions/issues

Since the switch to JavaEE8, JSF 2.3 and WebLogic 14, I have been getting this message for constellations that I cannot explain and the ajaxStatus also stops and does not set it to complete, so that the application cannot continue to be executed, except via a refresh of the page.

Is it somehow

[2022-01-18 10:02] jepsar commented on #825
Please create your issue at https://github.com/primefaces-extensions/primefaces-extensions/issues

[2022-01-18 10:02] #825 closed

[2022-01-18 10:36] melloware commented on #825
I think I can do transfer issue and move it to the other issues board

[2022-03-06 08:34] Dilakshi commented on #718
Please let me know if anyone knows a way to hide the fullscreen(**presentationMode**) button as well. works for print,download,openFile,viewBookmark buttons except presentationMode

![image](https://user-images.githubusercontent.com/15982283/156915424-30b69dc7-3ce5-476b-945e-852812ec1d36.png)

[2022-03-06 12:33] melloware commented on #718
@Dilakshi depending on what version of PrimeFaces Extensions you are using you can try this too...

[code]

[2022-03-06 13:23] Dilakshi commented on #718
@melloware Thank you I'll try this too

[2022-03-06 14:47] melloware commented on #718
Let me know if it doesn't work. I just tried that in the console of the showcase and it hidden the button.

[2022-03-06 15:59] Dilakshi commented on #718
It did nicely. Thank you

[2022-03-14 05:32] krishnakittu commented on #435
HI Team,

With the CK Editor 4 We can easily integrate the upload image feature. Link [here](https://ckeditor.com/docs/ckeditor4/latest/examples/fileupload.html)

The idea was we can add one more property **filebrowserUploadUrl** to the CKeditor component.  Against this property we will give POST URL which will handle the File upload capabilities.

 wb.attr("filebrowserUploadUrl", ckEditor.getFile

[2022-03-14 10:49] melloware commented on #435
Sure thing submit a PR!

[2022-04-12 11:32] mortadha-dev commented on #711
Hello Guys , iam using Credit Card and i want to override the placeholderNumber how can i do that

[2022-04-12 11:37] melloware commented on #711
There is a property `placeholderNumber ` "Placeholder for the card number. Default '•••• •••• •••• ••••'".  Is it not working?

[2022-04-12 11:41] mortadha-dev commented on #711
Yeah , yeah sorry melloware for disturbing it is working, i just was making changes in another page and wait for the result Lol

[2022-04-12 11:44] melloware commented on #711
No worries glad you got it working.

[2022-04-14 12:49] melloware commented on #718
Linking to updated ticket: https://github.com/primefaces-extensions/primefaces-extensions/issues/217

[2022-04-25 21:03] mortadha-dev commented on #711
melloware i have a question if i initialise a number for the placeholderNumber and for the input. i don't get the color as if i put it manually, is there any way to get the card colored when the number is initialised.

[2022-04-25 22:08] melloware commented on #711
@mortadha-dev did you figure out your issue?

[2022-04-25 23:24] mortadha-dev commented on #711
Yes resolved thank you

[2022-05-05 22:30] jeromebridge commented on #796
I think this change may have broken the link sent to download the PDF file. In the past the `download` attribute was set to the value resolved by the `download` attribute. Now it always seems to be `null`

Example:
[code]

[2022-05-06 01:31] melloware commented on #796
Can you post your streamed content code?   I feel like you are missing the name in your StreamedContent?

[2022-05-06 12:04] jeromebridge commented on #796
This is the code that creates the stream:

[code]

This is my XHTML component:
[code]

I don't think the Document Viewer can get its content from a "View Scoped" bean. So I put the content into the session and call the `experimentPdfPage` bean which is a session bean. I'll include that code below. It checks for the "Download Id" to identify the document to return.

[code]

[2022-05-06 12:56] melloware commented on #796
Perfectly working example:
[pfe-796.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/8640129/pfe-796.zip)

Just unzip and run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

When you click Download you will see it is `jack.pdf`.

[2022-05-06 13:06] jeromebridge commented on #796
@melloware Thank you for the example.

I see that you are using a "Request Scope" bean to generate the PDF. I'm using a "View Scoped" bean to generate the PDF. I don't think I can use the "Request Scope" bean to generate the PDF as you did.

Do you have a way that I can use a "View Scope" bean to generate the PDF and get it to the Document Viewer component?

[2022-05-06 13:56] melloware commented on #796
I don't understand why you can't use `RequestScoped`?  Can I ask why are you storing your document in the `ViewScoped` bloating the session?

[2022-05-06 14:19] melloware commented on #796
Here is the answer from the master himself BalusC on why you can't use ViewScoped with Dynamic Streaming Content: https://stackoverflow.com/a/18994746/502366

You have to use RequestScoped or SessionScoped.

[2022-05-06 15:22] jeromebridge commented on #796
@melloware I don't really want to put it in the session. That was the workaround I came up to provide a session scoped property to the component.

I would like to (if possible) use the view scope to generate the PDF and make it accessible to the component somehow.

[2022-05-06 15:23] melloware commented on #796
Its not possible with Streaming if you read BalusC's stack overflow on why ViewScoped won't work.

[2022-05-06 15:38] melloware commented on #796
Notice his bean is `ApplicationScoped`.  Trust me ViewScope is NOT possible.

[2022-05-06 16:10] jeromebridge commented on #796
I agree (I know View Scoped doesn't work)

I put my content parameter on a `SessionScoped`. (I believe that works). Do you think `ApplicationScoped` vs `SessionScoped` would affect the parameters passed to the `experimentPdfPage.content` call?

[2022-05-06 16:12] melloware commented on #796
Not sure I am not even sure if what you are trying to do an pass the <f:param> is even possible with DocumentViewer.

[2022-05-16 07:55] devmsaleh opened #826 "documentViewer feature request : add timeout & onerror callback"
Please add timeout option for loading document timeout in seconds and a timeout callback
also please add onerror callback if exception happens

Scenario: i am trying to load the document from url (rest service)
and the service timeouts and i get an exception from the service
so i want to handle both cases to define timeout in seconds
and also handle when an error comes from the url

[2022-05-20 09:48] mortadha-dev commented on #711
Hello Melloware i want to have list of credit cards in a carousel view but the color dissapear , can you please help me
![creditCard](https://user-images.githubusercontent.com/60823618/169502510-15acc361-b825-406c-9f62-93b666bb8881.PNG)

`  <h:form prependId="false">
            <div class="card">
                <p:carousel value="#{customerCardsController.cardsList}" var="card" numVisible="2"

[2022-05-20 10:19] jepsar commented on #711
@mortadha-dev please create a new issue and attach a reproducer using https://github.com/primefaces/primefaces-test

[2022-05-20 11:07] melloware commented on #711
Agreed with @jepsar and also our new Issues area is here: https://github.com/primefaces-extensions/primefaces-extensions/issues

[2022-05-20 12:44] mortadha-dev commented on #711
Okay i will create a new issue

[2022-10-11 06:47] bushramashaiekh opened #827 "PrimeFaces Extensions and jasper report"
**MOVED**
Issues have moved here: https://github.com/primefaces-extensions/primefaces-extensions/issues

Please create your issue there.

Hi All ,
I use java to create dynamic jasper report and then I show it in pe:documentviewer i use version (primefaces-extensions-6.2.jar)
it is work well but last month i have issue when we print in pe:documentviewer it is duplicate the Arabic characters  but wh

[2022-10-11 06:52] bushramashaiekh commented on #827
@ova2  @sudheerj  @tandraschko  @melloware

[2022-10-11 07:23] jepsar commented on #827
Please try with 12 and use the correct issue tracker.

[2022-10-11 07:23] #827 closed

[2022-10-11 11:29] melloware commented on #827
Correct issue tracker: https://github.com/primefaces-extensions/primefaces-extensions/issues

[2022-10-11 12:10] jepsar commented on #827
That was removed in the edit 😁